<div class="container-fluid color-accademy-banner p-5">
  <div class="row align-items-center">
    <!-- Colonna sinistra: Testo -->
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center textBannerAccademy text-center text-md-start order-2 order-md-1">
      <h1 class="fw-bold">{{ 'GUIDE_BANNER_TOP.TITLE' | translate }}</h1>
      <h3>
        {{ 'GUIDE_BANNER_TOP.SUBTITLE' | translate }}
      </h3>
    </div>

    <!-- Colonna destra: Immagine -->
    <div class="col-12 col-md-6 order-1 order-md-2">
      <div class="container py-3 py-md-5">
        <div class="row">
          <div class="col-12">
            <div class="box accademyBanner1 mx-auto"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>