// 🎨 Variabili globali
$text-color: #ffffff;
$primary-color: #6a1b9a;
$secondary-color: rgb(83, 62, 133);
$accent-color: #9c2ea6;
$background-light: #fff;
$background-dark: #a380bc;
$border-radius: 0.75rem; // 12px
$padding-base: 1.25rem; // 20px
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
$box-shadow-hover: 0 6px 12px rgba(0, 0, 0, 0.15);
$transition-speed: 0.3s;
$hover-color: rgba(0, 0, 0, 0.2);
$font-size-title: 2.5rem;
$font-size-subtitle: 1.2rem;
$font-size-text: 0.9rem;
$font-size-button: 0.9rem;
$button-height: 40px;
$card-width: 250px;
$card-min-height: 380px;
$image-height: 80px;

/* 📌 Banner */
.color-accademy-banner {
    background-color: $background-dark;
}

.textBannerAccademy {
    color: $text-color;
}

/* 📌 Logo Accademy */
.xAccademyLogo {
    background-image: url('../../../../assets/accademy/logo_xAccademy.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 19.375rem; /* 310px */
    height: 9.375rem; /* 150px */
    display: block;
}
/* 📌 Accademy Banner */
.accademyBanner1 {
    background-image: url('../../../../assets/accademy/oneBladeLab.jpg');
    background-size:contain;
}


/* 📌 Box Generico */
.box {
    background-color: $secondary-color;
    color: $text-color;
    border-radius: $border-radius;
    text-align: center;
    padding: $padding-base;
    min-height: 15.625rem; /* 250px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: $box-shadow;
    transition: transform $transition-speed, box-shadow $transition-speed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
        transform: translateY(-0.3125rem); /* -5px */
        box-shadow: 0 0.5rem 1rem $hover-color;
    }

    h2 {
        margin-bottom: 0.625rem; /* 10px */
    }

    p {
        margin: 0;
    }
}