<app-image-carousel></app-image-carousel>

<div class="container mt-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb" class="mt-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/">Home</a>
          </li>
          <li class="breadcrumb-separator">></li>
          <li class="breadcrumb-item active" aria-current="page" routerLink="/ProductsoneBladeComponent">Prodotti</li>
          <li class="breadcrumb-separator">></li>
          <li class="breadcrumb-item active" aria-current="page">UX & Flow</li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="title mb-1"><strong>Dai forma ai tuoi progetti</strong>, accompagnando ogni passo dell'utente.</h1>
      <p class="subtitle"><strong>Migliora l'esperienza utente</strong>, guida il successo del tuo prodotto</p>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <app-oneBladeVideo videoPath="../../assets/Video/Think_Build.mp4"></app-oneBladeVideo>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-md-4 mt-2 mb-3">
      <img src="../../../assets/uxFlow/uxFlow.jpeg" alt="Think & Build" class="img-fluid rounded shadow">
    </div>

    <div class="col-8">
      <h2 class="section-title mt-4">Descrizione del Servizio</h2>
      <p class="section-content">
        <strong>UX & Flow</strong> è il servizio di <strong>oneBlade</strong> pensato per ottimizzare
        l'<strong>esperienza utente</strong> e il <strong>design</strong> dell'interfaccia dei tuoi prodotti
        digitali. Attraverso un approccio <strong>analitico</strong> e <strong>creativo</strong>, ti aiutiamo a
        progettare percorsi <strong>intuitivi</strong>, <strong>accessibili</strong> e <strong>piacevoli</strong> per
        i tuoi utenti, aumentando il <strong>tasso di conversione</strong> e la <strong>soddisfazione del
          cliente</strong>.
      </p>
      <h2 class="section-title mt-4">A chi è rivolto</h2>
      <ul class="section-content list-unstyled">
        <li class="list-item"><strong>Startup</strong> in fase di progettazione del prodotto</li>
        <li class="list-item"><strong>Aziende</strong> che vogliono rilanciare o migliorare applicazioni esistenti</li>
        <li class="list-item"><strong>Realtà</strong> che necessitano di <strong>UX/UI</strong> su progetti
          digitali</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3 class="section-title mt-4 text-center mb-3">Cosa offriamo</h3>
      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="step-box p-3 rounded shadow">
            <h1 class="step-title">1. Studio di UX e UI</h1>
            <ul class="list-unstyled ms-3">
              <li class="list-item">Analisi dei <strong>bisogni degli utenti</strong></li>
              <li class="list-item">Mappatura dei <strong>percorsi utente</strong> (User Journey Mapping)</li>
              <li class="list-item">Definizione delle principali <strong>personas</strong></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="step-box p-3 rounded shadow">
            <h2 class="step-title">2. Wireframe avanzati</h2>
            <ul class="list-unstyled ms-3">
              <li class="list-item">Creazione di <strong>wireframe</strong> a bassa e alta fedeltà</li>
              <li class="list-item">Simulazioni <strong>interattive</strong> dei flussi principali</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="step-box p-3 rounded shadow">
            <h2 class="step-title">3. Test utente</h2>
            <ul class="list-unstyled ms-3">
              <li class="list-item">Test <strong>qualitativi</strong> su prototipi</li>
              <li class="list-item">Raccolta <strong>feedback</strong> e ottimizzazione dei flussi</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="step-box p-3 rounded shadow">
            <h2 class="step-title">4. Miglioramenti di Accessibilità</h2>
            <ul class="list-unstyled ms-3">
              <li class="list-item"><strong>Accessibilità</strong> (WCAG compliance)</li>
              <li class="list-item">Suggerimenti per l'<strong>inclusività digitale</strong></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="step-box p-3 rounded shadow">
            <h2 class="step-title">5. Modalità di erogazione</h2>
            <ul class="section-content list-unstyled">
              <li class="list-item"><strong>Consulenze one-to-one</strong></li>
              <li class="list-item"><strong>Workshop collaborativi</strong> online</li>
              <li class="list-item">Consegna di <strong>report dettagliati</strong> e <strong>prototipi
                  interattivi</strong></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="step-box p-3 rounded shadow">
            <h2 class="step-title">6. Valore per il cliente</h2>
            <ul class="section-content list-unstyled">
              <li class="list-item"><strong>Maggiore soddisfazione</strong> dell'utente finale</li>
              <li class="list-item"><strong>Migliori metriche</strong> di retention e conversione</li>
              <li class="list-item">Immagine digitale più <strong>moderna</strong> e <strong>professionale</strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-infooneBlade></app-infooneBlade>