<app-image-carousel></app-image-carousel>

<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb" class="mt-4">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/">Home</a>
          </li>
          <li class="breadcrumb-separator">></li>
          <li class="breadcrumb-item active" aria-current="page">Prodotti</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container mt-3 mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10">
      <app-box-product [title]="'InfyBladeSuite'" style="display:none"
        [content]="'<strong>La tua azienda</strong> merita di più della solita gestione <em>“alla vecchia maniera”</em>. Oggi, una <strong>PMI</strong> che vuole crescere ha bisogno di strumenti <strong>intelligenti</strong>, <strong>flessibili</strong> e <strong>connessi</strong>. <br> <strong>Microsoft Dynamics 365</strong> è molto più di un gestionale: è il <span class=\'highlight\'>cuore digitale</span> della tua impresa.<p><small class=\'smaller-text\'><br><em>Siamo partner certificati Microsoft, specializzati nell’implementazione e personalizzazione di soluzioni ERP e CRM come Dynamics 365, per aiutare le aziende a crescere, automatizzare i processi e prendere decisioni strategiche basate sui dati.</em></small></p>'"
        [logos]="[
          { src: '../../../assets/Products/InfyBladeSuite/InfyBladeSuite.png', alt: 'InfyBladeSuite Logo' },
          { src: '../../../assets/oneBlade.png', alt: 'OneBlade Logo' },
          { src: '../../../assets/Partners_Logo/infyair.png', alt: 'InfyAir Logo' }
        ]" [link]="'/InfyBladeSuiteComponent'">
      </app-box-product>
    </div>
  </div>

  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-12 col-md-10">
      <app-box-product [title]="'Think & Build'"
        [content]="'<p><strong>OneBlade Think & Build</strong> è il servizio di <strong>consulenza strategica e tecnica</strong> che trasforma la tua <strong>idea digitale</strong> in un <strong>prodotto software completo</strong>, grazie a un team multidisciplinare specializzato in <strong>analisi, design, sviluppo e lancio</strong>.</p><p><strong>📞 Chiedi una consulenza di 1 ora</strong></p>'"
        [logos]="[
          { src: '../../../assets/ThinkAndBuild/thinkAndBuildInfo.png', alt: 'Think & build Logo' },
          { src: '../../../assets/oneBlade.png', alt: 'OneBlade Logo' },
        ]" [link]="'/ThinkAndBuildComponent'">
      </app-box-product>
    </div>
  </div>
</div>

<app-infooneBlade></app-infooneBlade>