.footer-wrapper {
  position: relative;
  width: 100%;
  background: linear-gradient(to right, rgba(50, 100, 245, 0.1098039216) 62%, #9339bb 86%); /* Colore di sfondo con gradiente */
  color: #000000; /* Colore del testo nero */
  text-align: center;
  padding: 0; /* Rimuove il padding predefinito */
  height: 400px; /* Altezza fissa del footer */
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3); /* Ombra che va verso l'alto */
  display: flex; /* Usa Flexbox per un layout flessibile */
  flex-direction: column; /* Colonna per gli elementi del footer */
  align-items: center; /* Allinea gli elementi al centro orizzontalmente */
  justify-content: center; /* Centra verticalmente il contenuto */
}

.footer-logo {
  max-width: 150px; /* Imposta una larghezza massima per il logo */
  margin-bottom: 15px; /* Spazio tra il logo e il testo */
 
}

.footer-content {
  z-index: 10;
}

.footer-content p {
  margin: 0;
  font-size: 16px; /* Dimensione del font aumentata per una migliore leggibilità */
  margin-bottom: 15px; /* Spazio tra il testo e i link */
}

.footer-links {
  margin-top: 15px; /* Spazio sopra i link */
  transition: font-weight 0.3s ease;
}

.footer-link {
  color: #000000; /* Colore dei link neri */
  text-decoration: none; /* Rimuove la sottolineatura dai link */
  margin: 0 15px; /* Spazio tra i link */
  font-size: 16px; /* Dimensione del font dei link aumentata */
  display: inline-block;
  transition: color 0.3s ease; /* Transizione del colore al passaggio del mouse */
}

.footer-link:hover {
  color: rgba(0, 0, 0, 0.8); /* Colore dei link al passaggio del mouse */
}

.footer-link.active {
  font-weight: bold; /* Evidenzia il testo del menu attivo */
}

/* Stile specifico per il link LinkedIn */
.footer-link i.bi-linkedin {
  color: #0077b5; /* Colore dell'icona LinkedIn */
}

.footer-link:hover i.bi-linkedin {
  color: darken(#0077b5, 10%); /* Colore più scuro al passaggio del mouse */
}