contenitore-testo {
    h1 {
        font-size: 2.5rem;
        font-weight: bold;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: normal;
        margin-bottom: 20px;
    }

    ul {
        padding-left: 20px;
        list-style: none;

        li {
            font-size: 1rem;
            margin-bottom: 10px;

            &:before {
                content: '✔ ';
                color: #007bff;
                font-weight: bold;
            }
        }
    }
}


img {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-left: auto;
}

.color-accademy-banner {
    background-color: #a380bc;
}

.textBannerAccademy {
    color: #ffffff;
}


.box {
    background-color: rgb(83 62 133);
    color: white;
    border-radius: 12px;
    text-align: center;
    padding: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    /* Stile per l'immagine di sfondo */
    background-size: cover;
    /* L'immagine copre l'intera area del box */
    background-position: center;
    /* Centra l'immagine */
    background-repeat: no-repeat;
    /* Evita la ripetizione dell'immagine */
}

.box:hover {
    transform: translateY(-5px);
    /* Leggera elevazione al passaggio del mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Ombra più intensa */
}

.box h2 {
    margin-bottom: 10px;
}

.box p {
    margin: 0;
}

.accademyBanner1 {
    background-image: url('../../../assets/accademy/never-stop-learning-3653430_640.jpg');

}

.xAccademyLogo {
    background-image: url('../../../assets/accademy/logo_xAccademy.svg');
    background-repeat: no-repeat; /* Evita la ripetizione */
    background-size: contain; /* Adatta l'immagine dentro il div */
    background-position: center; /* Centra l'immagine */
    width: 310px; /* Imposta una larghezza adeguata */
    height: 150px; /* Imposta un'altezza adeguata */
    display: block; /* Assicura che il div venga visualizzato */
}

.remote {
    background-image: url('../../../assets//world.png');
}


.course-section {
    background-color: #ffffff;

    .category {
        margin-bottom: 40px;

        .category-title {
            font-size: 1.8rem;
            font-weight: bold;
            margin-bottom: 20px;
            text-align: center;
            color: #6a1b9a;
        }

        .course-list {
            display: flex;
            justify-content: center;
            gap: 15px;
            flex-wrap: wrap;
        }

        .course-card {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            font-size: 1.2rem;
            width: 200px;
            transition: transform 0.2s, box-shadow 0.2s;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
            }
        }
    }
}