<app-image-carousel></app-image-carousel>

<div class="container mt-5">
    <!-- Testo esplicativo -->
    <div class="explanatory-text">
        <div *ngIf="step === 1">
            <h3 class="step-explanation">Step 1: {{ 'STEP.EXPLANATION_STEP_1' | translate }}</h3>
            <p>Scegli la categoria più adatta alle tue esigenze. Ogni talento è classificato in base alla sua area di
                competenza,
                come <strong>sviluppo software</strong>, <strong>design</strong>, <strong>marketing digitale</strong>,
                <strong>consulenza IT</strong> e molte altre.
                Questa selezione ti aiuterà a trovare rapidamente i professionisti specializzati nel settore di tuo
                interesse.
            </p>
        </div>

        <div *ngIf="step === 2">
            <h3 class="step-explanation">Step 2: {{ 'STEP.EXPLANATION_STEP_2' | translate }}</h3>
            <p>Consulta l’elenco dei talenti disponibili e scegli quello che meglio risponde ai tuoi bisogni.
                Ogni talento ha una breve descrizione delle sue <strong>competenze principali</strong>, del
                <strong>livello di esperienza</strong>
                e della <strong>tipologia di servizi offerti</strong>. Seleziona il professionista che ritieni più
                adatto al tuo progetto.
            </p>
        </div>

        <div *ngIf="step === 3">
            <h3 class="step-explanation">Step 3: {{ 'STEP.EXPLANATION_STEP_3' | translate }}</h3>
            <p>Dopo aver scelto il talento giusto, inserisci i tuoi dati e i dettagli della richiesta nel modulo di
                contatto.
                Specifica le tue esigenze, il tipo di <strong>collaborazione desiderata</strong> e qualsiasi altra
                informazione utile
                per ricevere un riscontro rapido e personalizzato.</p>
        </div>

        <div *ngIf="step === 4">
            <h3 class="step-explanation">Step 4: {{ 'STEP.EXPLANATION_STEP_4' | translate }}</h3>
        </div>
    </div>

    <!-- Stepline -->
    <div class="step-container mt-5">
        <div class="progress-bar"></div>
        <div class="step" [class.completed]="step >= 1" (click)="goToStep(1)">
            <div class="circle">1</div>
        </div>
        <div class="step" [class.completed]="step >= 2" (click)="goToStep(2)" [class.disabled]="!selectedCategory">
            <div class="circle">2</div>
        </div>
        <div class="step" [class.completed]="step >= 3" (click)="goToStep(3)" [class.disabled]="!selectedTalent">
            <div class="circle">3</div>
        </div>
        <div class="step" [class.completed]="step === 4" [class.disabled]="step < 4">
            <div class="circle">4</div>
        </div>
    </div>

    <div *ngIf="step === 1">
        <h2 class="text-center mt-5 mb-5">{{ 'TALENT_LIST.TITLE' | translate }}</h2>
        <div class="row">
            <div *ngFor="let category of categories" class="col-md-4 mb-3">
                <div class="category-box p-3" (click)="selectCategory(category)">
                    <h3 class="text-secondary">{{ category.name | translate }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="step === 2">
        <h2 class="mt-5 mb-5">{{ selectedCategory?.name || '' | translate }}</h2>
        <div class="row">
            <div *ngFor="let talent of selectedCategory?.talents" class="col-md-4 mb-3">
                <div class="talent-box p-3" (click)="selectTalent(talent)" style="text-align: left;">
                    <h3>{{ talent.role | translate }}</h3>
                    <p><strong>{{ 'TALENT_LIST.MIN_CONTRACT' | translate }}:</strong> {{ talent.minContract }}</p>
                    <p><strong>{{ 'TALENT_LIST.SENIORITY' | translate }}:</strong> {{ talent.seniority }}</p>
                    <p><strong>Skills:</strong></p>
                    <ul>
                        <li *ngFor="let skill of talent.skills">{{ skill }}</li>
                    </ul>
                    <p><strong>Frameworks/Libraries:</strong></p>
                    <ul>
                        <li *ngFor="let framework of talent.frameworks_libraries">{{ framework }}</li>
                    </ul>
                    <p><strong>Tools:</strong></p>
                    <ul>
                        <li *ngFor="let tool of talent.tools">{{ tool }}</li>
                    </ul>
                    <p><strong>Languages:</strong></p>
                    <ul>
                        <li *ngFor="let language of getLanguages(talent.languages_spoken)">
                            {{ language }}: {{ talent.languages_spoken[language] }}
                        </li>
                    </ul>
                    <p class="price"><strong>{{ 'TALENT_LIST.PRICE_PER_DAY' | translate }}:</strong> {{
                        talent.pricePerDay }}</p>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="step === 3 && selectedTalent">
        <h2 class="mt-5 mb-5">{{ selectedCategory?.name || '' | translate }}</h2>
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="talent-box p-3" style="text-align: left;">
                    <h3>{{ selectedTalent.role | translate }}</h3>
                    <p><strong>{{ 'TALENT_LIST.MIN_CONTRACT' | translate }}:</strong> {{ selectedTalent.minContract }}
                    </p>
                    <p><strong>{{ 'TALENT_LIST.SENIORITY' | translate }}:</strong> {{ selectedTalent.seniority }}</p>
                    <p><strong>Skills:</strong></p>
                    <ul>
                        <li *ngFor="let skill of selectedTalent.skills">{{ skill }}</li>
                    </ul>
                    <p><strong>Frameworks/Libraries:</strong></p>
                    <ul>
                        <li *ngFor="let framework of selectedTalent.frameworks_libraries">{{ framework }}</li>
                    </ul>
                    <p><strong>Tools:</strong></p>
                    <ul>
                        <li *ngFor="let tool of selectedTalent.tools">{{ tool }}</li>
                    </ul>
                    <p><strong>Languages:</strong></p>
                    <ul>
                        <li *ngFor="let language of getLanguages(selectedTalent.languages_spoken)">
                            {{ language }}: {{ selectedTalent.languages_spoken[language] }}
                        </li>
                    </ul>
                    <p class="price"><strong>{{ 'TALENT_LIST.PRICE_PER_DAY' | translate }}:</strong> {{
                        selectedTalent.pricePerDay }}</p>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <app-contact-form-azienda [selectedCategory]="selectedCategory?.name || ''"
                    [selectedTalent]="selectedTalent"
                    [customTitle]="'Compila la form per poterti aiutare per la scelta del consulente fatta.'"
                    [customSubtitle]="'Inviandoci la tua richiesta verrai contattato da un nostro responsabile che potrà aiutarti.'"></app-contact-form-azienda>
            </div>
        </div>
    </div>

    <div *ngIf="step === 4" class="thank-you-message">
        <h2>{{ 'FORM.SUCCESS_MESSAGE' | translate }}</h2>
        <p>{{ 'FORM.THANK_YOU_MESSAGE' | translate }}</p>
    </div>
</div>

<app-FissaUnaCall></app-FissaUnaCall>
<app-academyBanner></app-academyBanner>
<app-infooneBlade></app-infooneBlade>