@import '../../../style/_variabiles.scss';

.category-box,
.talent-box {
    border: 1px solid $input-border-color;
    padding: $padding-base;
    margin-bottom: $gap;
    border-radius: $border-radius;
    background-color: $background-light;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Riduci l'ombra
    transition: transform $transition-speed, box-shadow $transition-speed;
    cursor: pointer;
    text-align: center; // Centra le scritte

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Riduci l'ombra al passaggio del mouse
    }

    h3 {
        margin-top: 0;
        color: $text-color-oneblade;
        font-size: 14px; // Riduci la dimensione del font
    }

    p {
        margin: 0.5rem 0;
        color: $text-color-dark;
        font-size: 12px; // Riduci la dimensione del font
    }
}

.talent-info {
    border: 1px solid $input-border-color;
    padding: $padding-base;
    margin-top: $gap;
    border-radius: $border-radius;
    background-color: $background-light;
    box-shadow: $box-shadow;
}

.thank-you-message {
    text-align: center;
    margin-top: $gap;

    h2 {
        color: $text-color-oneblade;
    }

    p {
        color: $text-color-dark;
    }
}

.stepline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $gap;
    padding: $padding-base;
    background-color: $background-light;
    border-radius: $border-radius;
    position: relative;

    .step {
        flex: 1;
        text-align: center;
        cursor: pointer;
        transition: background-color $transition-speed, color $transition-speed;
        position: relative;

        .circle {
            width: 30px;
            height: 30px;
            margin: 0 auto;
            border-radius: 50%;
            background-color: $input-border-color;
            transition: background-color $transition-speed;
            position: relative;
            z-index: 1;
        }

        .label {
            margin-top: 5px;
            font-size: $font-size-text;
            color: $text-color-dark;
        }

        &.active .circle {
            background-color: $primary-color;
        }

        &.disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }

        &:not(.active):hover .circle {
            background-color: $hover-color;
        }
    }
}

.step-explanation {
    color: $primary-color; // Colore dei punti di step
}

.step-label {
    text-align: center;
    color: $primary-color; // Colore dei punti di step
}