@import '../../../style/_variabiles.scss';

.category-box,
.talent-box {
    border: 1px solid $input-border-color;
    padding: $padding-base;
    margin-bottom: $gap;
    border-radius: $border-radius;
    background-color: $background-light;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Riduci l'ombra
    transition: transform $transition-speed, box-shadow $transition-speed;
    cursor: pointer;
    text-align: center; // Centra le scritte

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Riduci l'ombra al passaggio del mouse
    }

    h3 {
        margin-top: 0;
        color: $text-color-oneblade;
        font-size: 14px; // Riduci la dimensione del font
    }

    p {
        margin: 0.5rem 0;
        color: $text-color-dark;
        font-size: 12px; // Riduci la dimensione del font
    }

    ul {
        font-size: 15px; // Riduci la dimensione del font delle liste
        padding-left: 20px;
    }

    li {
        margin-bottom: 5px;
    }

    .price {
        font-size: 16px;
        color: $primary-color;
        font-weight: bold;
        margin-top: 10px;
    }

    .btn-link {
        color: $primary-color; // Colore del pulsante "Mostra di più"

        &:hover {
            color: darken($primary-color, 10%); // Colore del pulsante "Mostra di più" al passaggio del mouse
        }
    }
}

.skills-list,
.frameworks-list,
.tools-list,
.languages-list {
    position: relative;
    max-height: 3.6em; // Altezza per mostrare solo due voci
    overflow: hidden;
    transition: max-height 0.3s ease;

    &.expanded {
        max-height: none;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1.2em;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), $background-light);
        display: block;
    }

    &.expanded::after {
        display: none;
    }

    li.hidden {
        display: none;
    }

    &.expanded li.hidden {
        display: list-item;
    }
}

.talent-info {
    border: 1px solid $input-border-color;
    padding: $padding-base;
    margin-top: $gap;
    border-radius: $border-radius;
    background-color: $background-light;
    box-shadow: $box-shadow;
}

.thank-you-message {
    text-align: center;
    margin-top: $gap;

    h2 {
        color: $text-color-oneblade;
    }

    p {
        color: $text-color-dark;
    }
}

.step-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px;
}

.progress-bar {
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    height: 4px;
    background-color: $input-border-color;
    z-index: 0;
    transform: translateY(-50%);
}

.progress-bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $primary-color;
    width: calc((100% - 40px) / 3 * var(--completed-steps));
    transition: width $transition-duration ease;
}

.step {
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $input-border-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: $font-color-white;
    flex-direction: column; // Aggiungi questa linea per posizionare la scritta sotto al punto

    .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $input-border-color;
        color: $font-color-white;
        font-weight: bold;
        line-height: 40px; // Assicurati che il numero sia centrato verticalmente
    }

    &.completed {
        cursor: pointer;
    }

    &.disabled {
        cursor: not-allowed;
    }
}

.step.completed .circle {
    background-color: $primary-color;
}

.step.current .circle {
    background-color: $primary-color;
}

.step-explanation {
    color: $primary-color; // Colore dei punti di step
}

.step-label {
    text-align: center;
    color: $primary-color; // Colore dei punti di step
    margin-top: 10px; // Aggiungi un margine superiore per distanziare la scritta dal punto
}

@media (max-width: 768px) {
    .accordion-button {
        font-size: 14px;
    }

    .accordion-body {
        font-size: 12px;
    }
}