<div class="container">
  <div class="row">
    <div class="col">
      <app-company-logos></app-company-logos>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="container mt-4">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs rounded-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#SviluppoSoftware" role="tab" aria-controls="home"
              aria-selected="true">Sviluppiamo il tuo software</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#Talent" role="tab" aria-controls="profile"
              aria-selected="false">Talent acquisition</a>
          </li>
        </ul>
        <!-- Tab content -->
        <div class="tab-content rounded-content" id="myTabContent">
          <div class="tab-pane fade show active" id="SviluppoSoftware" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-lg-7 col-md-12">
                <div class="description-box">
                  <span class="box-subTitle">Sviluppiamo il tuo software</span>
                  <p class="box-text">
                    Siamo qui per aiutarti a <em class="evidence">realizzare progetti software completamente su
                      misura</em> per le tue esigenze specifiche e i tuoi obiettivi strategici. La nostra missione è
                    quella di costruire team altamente qualificati e dedicati, capaci di affrontare progetti di medie e
                    grandi dimensioni con competenza e professionalità.<br><br>
                    <span class="box-subTitle">Sviluppatori e professionisti</span><br>
                    Per raggiungere questo obiettivo, mettiamo <em class="evidence">insieme gruppi di esperti
                      selezionati con cura nel corso degli anni.</em> Ogni membro del nostro team è un consulente
                    specializzato con un background comprovato e una profonda esperienza nel settore. Abbiamo investito
                    tempo e risorse nella selezione e nella formazione di questi professionisti, garantendo che
                    rispondano esattamente alle tue esigenze tecniche e funzionali.<br><br>
                    <span class="box-subTitle">L'approccio</span><br>
                    Il nostro approccio si basa su una comprensione dettagliata delle tue necessità e dei tuoi
                    obiettivi. <em class="evidence">Collaboriamo strettamente con te per definire i requisiti del
                      progetto e progettare soluzioni</em> che siano perfettamente allineate con le tue aspettative. I
                    team che formiamo lavorano con impegno e dedizione, assicurando un processo di sviluppo fluido e
                    senza intoppi.<br><br>
                    <span class="box-subTitle">Tutto da remoto</span><br>
                    Inoltre, siamo in grado di gestire tutto il processo di sviluppo software completamente da remoto,
                    offrendo così una flessibilità operativa senza pari. Questa modalità di lavoro non solo consente di
                    adattarsi rapidamente ai cambiamenti e alle nuove esigenze, ma ti permette anche di accedere ai
                    migliori talenti globali senza limitazioni geografiche.<br><br>

                    In sintesi, il nostro servizio ti offre una soluzione integrata e su misura, con team di esperti
                    altamente qualificati che lavorano in sinergia per garantire risultati di alta qualità e una
                    gestione del progetto fluida e adattabile. La nostra capacità di operare completamente in modalità
                    remota ti offre la libertà di concentrarti sulle tue priorità strategiche, sapendo che il tuo
                    progetto software è nelle mani di professionisti esperti e dedicati.
                  </p>
                </div>
              </div>
              <div class="col-lg-5 col-md-12">
                <app-contact-form-azienda></app-contact-form-azienda>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="Talent" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <div class="col-lg-7 col-md-12">
                <div class="description-box">
                  <span class="box-subTitle">Talent acquisition</span>
                  <p class="box-text">
                    Il nostro servizio di <em class="evidence">talent acquisition</em> è progettato per mettere in
                    contatto i professionisti con i migliori progetti IT disponibili sul mercato. Ma la nostra offerta
                    va ben oltre la <em class="evidence">semplice selezione di candidati:</em> ci impegniamo a
                    comprendere in profondità le esigenze specifiche di ogni progetto, per garantire che il talento che
                    proponiamo non solo soddisfi, ma superi le aspettative.<br><br>

                    Per fare ciò, adottiamo un approccio <em class="evidence">personalizzato e analitico.</em> Iniziamo
                    con una valutazione dettagliata dei requisiti del progetto e delle competenze richieste. Questo
                    processo ci consente di identificare e selezionare i professionisti più adatti, che possiedano non
                    solo le <em class="evidence">qualifiche tecniche necessarie</em>, ma anche la capacità di adattarsi
                    e contribuire efficacemente al contesto del progetto.<br><br>

                    Ogni <em class="evidence">candidato</em> che consideriamo per le vostre esigenze è <em
                      class="evidence">sottoposto a rigorosi test interni e valutazioni</em> approfondite. Questi test
                    sono progettati per garantire che il personale selezionato operi secondo standard elevati di qualità
                    e professionalità. Ciò ci permette di assicurare che ogni talento non solo rispetti i requisiti
                    tecnici, ma sia anche in grado di integrarsi bene nel team e contribuire al <em
                      class="evidence">successo complessivo</em> del progetto.<br><br>

                    Inoltre, la nostra esperienza nel settore ci consente di mantenere una <em class="evidence">rete di
                      professionisti altamente qualificati e aggiornati</em> con le ultime tendenze e tecnologie nel
                    campo IT. Questo ci permette di rispondere con rapidità e precisione alle esigenze dei nostri
                    clienti, fornendo soluzioni di talent acquisition che sono sia tempestive che di alta
                    qualità.<br><br>

                    In sintesi, il nostro servizio di talent acquisition è <em class="evidence">progettato per
                      garantire</em> che ogni progetto IT possa beneficiare delle competenze più adatte e dei talenti
                    più qualificati disponibili, contribuendo così al successo e all’eccellenza dei risultati finali.
                  </p>
                </div>
              </div>
              <div class="col-lg-5 col-md-12">
                <app-contact-form></app-contact-form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>