<app-image-carousel></app-image-carousel>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10">
      <app-box-product [title]="'InfyBladeSuite'" 
      [content]="'<strong>La tua azienda</strong> merita di più della solita gestione <em>“alla vecchia maniera”</em>. Oggi, una <strong>PMI</strong> che vuole crescere ha bisogno di strumenti <strong>intelligenti</strong>, <strong>flessibili</strong> e <strong>connessi</strong>. <br> <strong>Microsoft Dynamics 365</strong> è molto più di un gestionale: è il <span class=\'highlight\'>cuore digitale</span> della tua impresa.'"
       [logos]="[
          { src: '../../../assets/Products/InfyBladeSuite.png', alt: 'InfyBladeSuite Logo' },
          { src: '../../../assets/oneBlade.png', alt: 'OneBlade Logo' },
          { src: '../../../assets/Partners_Logo/infyair.png', alt: 'InfyAir Logo' }
        ]" [link]="'/details'"></app-box-product>
    </div>
  </div>
</div>