
@import '../../../style/variabiles';

.nav-tabs .nav-link {
  color: $topbar-color;
  font-size: larger;
}

// Stile per le tabs
.rounded-tabs {
  border-radius: 0.5rem; // Angoli arrotondati per il contenitore dei tab
  overflow: hidden; // Nasconde l'overflow per mantenere la rotondità

  .nav {
    border: 1px solid $tab-border-color; // Bordo attorno ai tab
    border-radius: 0.5rem 0.5rem 0 0; // Angoli superiori arrotondati del contenitore dei tab

    .nav-link {
      border: 1px solid transparent;
      border-radius: 0; // Nessun arrotondamento sugli angoli dei link
      color: $tab-inactive-color; // Colore del testo dei tab non attivi
      background-color: $tab-inactive-bg; // Colore di sfondo dei tab non attivi
      transition: background-color 0.3s ease, color 0.3s ease;

      &.active {
        background-color: $tab-active-bg; // Colore di sfondo del tab attivo
        color: $topbar-color; // Colore del testo del tab attivo
        border-color: $tab-border-color; // Colore del bordo del tab attivo
        border-radius: 0.5rem 0.5rem 0 0; // Angoli superiori arrotondati
        z-index: 1; // Mantiene il tab attivo sopra gli altri
      }

      &:hover {
        background-color: $tab-hover-bg; // Colore di sfondo al passaggio del mouse
      }
    }
  }
}

// Stile per il contenuto delle tabs
.rounded-content {
  .tab-content {
    border-radius: 0 0 0.5rem 0.5rem; // Angoli inferiori arrotondati per il contenuto
    padding: 20px; // Spazio interno per il contenuto
    background-color: #ffffff; // Sfondo del contenuto
    box-shadow: none; // Nessuna ombra per il contenuto
    border-top: 1px solid $tab-border-color; // Bordo superiore per separare il contenuto dai tab
  }
}


// Ridimensiona testo e tab in modalità responsive
@media (max-width: 768px) {

  .description-box .box-subTitle,
  .description-box .box-text {
    font-size: 0.9rem; // Riduce la dimensione del testo
  }

  .nav-tabs .nav-link {
    font-size: 0.9rem; // Riduce la dimensione del testo nei tab
    padding: 0.5rem 0.8rem; // Riduce il padding dei tab
  }
}

@media (max-width: 576px) {

  .description-box .box-subTitle,
  .description-box .box-text {
    font-size: 0.9rem; // Ancora più piccolo per schermi molto piccoli
  }

  .nav-tabs .nav-link {
    font-size: 0.9rem;
    padding: 0.4rem 0.6rem;
  }
}