<div class="container">
  <div class="row">
    <div class="col">
      <app-company-logos></app-company-logos>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="container mt-4">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs rounded-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#SviluppoSoftware" role="tab"
              aria-controls="home" aria-selected="true">
              {{ 'NAV.DEVELOPMENT' | translate }}
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#Talent" role="tab" aria-controls="profile"
              aria-selected="false">
              {{ 'NAV.TALENT' | translate }}
            </a>
          </li>
        </ul>
        <!-- Tab content -->
        <div class="tab-content rounded-content" id="myTabContent">
          <div class="tab-pane fade show active" id="SviluppoSoftware" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <div class="description-box">
                  <span class="box-subTitle">{{ 'CONTENT.DEVELOPMENT.TITLE' | translate }}</span>
                  <p class="box-text">
                    {{ 'CONTENT.DEVELOPMENT.INTRO' | translate }}<br><br>
                    <span class="box-subTitle">{{ 'CONTENT.DEVELOPMENT.SUBTITLE_DEVELOPERS' | translate }}</span><br>
                    {{ 'CONTENT.DEVELOPMENT.BODY_DEVELOPERS' | translate }}<br><br>
                    <span class="box-subTitle">{{ 'CONTENT.DEVELOPMENT.SUBTITLE_APPROACH' | translate }}</span><br>
                    {{ 'CONTENT.DEVELOPMENT.BODY_APPROACH' | translate }}<br><br>
                    <span class="box-subTitle">{{ 'CONTENT.DEVELOPMENT.SUBTITLE_REMOTE' | translate }}</span><br>
                    {{ 'CONTENT.DEVELOPMENT.BODY_REMOTE' | translate }}
                  </p>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <app-contact-form-azienda></app-contact-form-azienda>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="Talent" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <div class="description-box">
                  <span class="box-subTitle">{{ 'CONTENT.TALENT.TITLE' | translate }}</span>
                  <p class="box-text">
                    {{ 'CONTENT.TALENT.INTRO' | translate }}<br><br>
                    {{ 'CONTENT.TALENT.BODY_CANDIDATES' | translate }}
                  </p>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <app-contact-form></app-contact-form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>