<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="box outsourcing" routerLink="/outsourcinginfo">
        <h2>{{ 'OUTSOURCING_BANNER.TITLE' | translate }}</h2>
        <p>{{ 'OUTSOURCING_BANNER.DESCRIPTION' | translate }}</p>
      </div>
    </div>
    <div class="col-6">
      <div class="box outsourcing" routerLink="/talentWizard">
        <h2>Scegli uno dei Talenti oneBlade</h2>
        <p>Scopri come ridurre i tempi e costi di ricerca</p>
      </div>
    </div>
  </div>
</div>