<app-image-carousel></app-image-carousel>

<div class="container mt-5">

  <div class="row">
    <div class="col">
      <section>
        <h2>{{ 'COMPANY_ABOUT_US.TITLE' | translate }}</h2>
        <p>
          {{ 'COMPANY_ABOUT_US.INTRO' | translate }}
        </p>
      </section>
      <div class="row">
        <div class="col">
          <div class="profile-container">
            <div class="profile-card">
              <img src="../../../../assets/team/Guido_Salzano_CEO.jpeg" alt="Guido Salzano" class="profile-image">
              <div class="profile-info">
                <h3>{{ 'COMPANY_ABOUT_US.CEO_NAME' | translate }}</h3>
                <p>{{ 'COMPANY_ABOUT_US.CEO_TITLE' | translate }}</p>
                <a href="https://www.linkedin.com/in/guidosalzano/" target="_blank">
                  <i class="bi bi-linkedin linkedin-icon"></i>
                  <span class="sr-only">LinkedIn Profile of Guido Salzano</span>
                </a>
              </div>
            </div>
            <div class="profile-card">
              <img src="../../../../assets/team/SerenaDangelo.jpeg" alt="Serena D'Angelo" class="profile-image">
              <div class="profile-info">
                <h3>{{ 'COMPANY_ABOUT_US.HR_NAME' | translate }}</h3>
                <p>{{ 'COMPANY_ABOUT_US.HR_TITLE' | translate }}</p>
                <a href="https://www.linkedin.com/in/serena-d-angelo-464a15163/" target="_blank">
                  <i class="bi bi-linkedin linkedin-icon"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section>
        <h2>{{ 'COMPANY_ABOUT_US.MISSION_TITLE' | translate }}</h2>
        <p>
          {{ 'COMPANY_ABOUT_US.MISSION_BODY' | translate }}
        </p>
      </section>

      <section>
        <h2>{{ 'COMPANY_ABOUT_US.SERVICES_TITLE' | translate }}</h2>
        <ul>
          <li>
            {{ 'COMPANY_ABOUT_US.SERVICE_1' | translate }}
          </li>
          <li>
            {{ 'COMPANY_ABOUT_US.SERVICE_2' | translate }}
          </li>
          <li>
            {{ 'COMPANY_ABOUT_US.SERVICE_3' | translate }}
          </li>
        </ul>
      </section>

      <section>
        <h2>{{ 'COMPANY_ABOUT_US.WHY_CHOOSE_TITLE' | translate }}</h2>
        <ul>
          <li>
            {{ 'COMPANY_ABOUT_US.WHY_CHOOSE_1' | translate }}
          </li>
          <li>
            {{ 'COMPANY_ABOUT_US.WHY_CHOOSE_2' | translate }}
          </li>
          <li>
            {{ 'COMPANY_ABOUT_US.WHY_CHOOSE_3' | translate }}
          </li>
          <li>
            {{ 'COMPANY_ABOUT_US.WHY_CHOOSE_4' | translate }}
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>

<div class="container mt-4">
  <h2 class="mb-5 text-center">{{ 'COMPANY_ABOUT_US.TECHNOLOGIES_TITLE' | translate }}</h2>
  <div class="mt-3 tech-section">
    <div *ngFor="let group of dataGroups" class="category">
      <h4>{{ group.category }}</h4>
      <div class="row">
        <div *ngFor="let item of group.technologies" class="col-md-4 mb-3">
          <div class="tech-item">
            <span class="fw-bold">{{ item.name }} ({{ item.value }}%)</span>
            <div class="progress custom-progress">
              <div class="progress-bar" role="progressbar" [style.width.%]="item.value" aria-valuenow="{{ item.value }}"
                aria-valuemin="0" aria-valuemax="100">
                {{ item.value }}%
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-company-logos></app-company-logos>
<app-FissaUnaCall></app-FissaUnaCall>