@import '../../../style/variabiles';

h2 {
    color: $primary-color;
}

// Contenitore centrato e con larghezza ridotta
.tech-section {
    max-width: 100%; // Riduzione della larghezza
    margin: 0 auto; // Centratura
}

// Stile per ogni categoria
.category {
    margin-bottom: 40px; // Spazio tra le categorie
}

h4 {
    margin-bottom: 15px; // Spazio sotto il titolo della categoria
    font-weight: bold;
    color: #9c2ea6;
    border-bottom: 1px solid #9c2ea6; // Sottolineatura leggera per evidenziare le categorie
    padding-bottom: 5px;
}

.custom-progress {
    height: 25px;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px; // Spazio tra le progress bar

    .progress-bar {
        background-color: #9c2ea6 !important;
        font-weight: bold;
        font-size: 14px;
        text-align: center;
        transition: width 0.6s ease-in-out;
    }
}

.profile-card {
    display: flex;
    align-items: center;
    background-color: #ffffff; // Sfondo bianco
    padding: 15px;
    border-radius: 10px;
    max-width: 400px;
    border: 1px solid #d1d1d1; // Bordo sottile grigio chiaro
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1); // Ombreggiatura leggera
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.profile-info {
    h3 {
        margin: 0;
        font-size: 22px;
        color: #19487f;
    }

    p {
        margin: 0;
        font-style: italic;
        color: #557a95;
    }
}