@import '../../../style/variabiles';

h2 {
    color: $primary-color;
}

// Definizione del colore principale
$progress-bar-color: #9c2ea6;

.custom-progress {
  height: 35px; // Altezza della barra
  border-radius: 8px; // Arrotondamento angoli
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2); // Effetto rilievo

  .progress-bar {
    background-color: $progress-bar-color !important;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    transition: width 0.6s ease-in-out; // Animazione fluida
  }
}