<app-image-carousel></app-image-carousel>

<div class="container mt-5">

  <div class="row">
    <div class="col">
      <section>
        <h2>{{ 'COMPANY_ABOUT_US.TITLE' | translate }}</h2>
        <p>
          {{ 'COMPANY_ABOUT_US.INTRO' | translate }}
        </p>
      </section>
      <div class="row">
        <div class="col">
          <div class="profile-container">
            <div class="profile-card">
              <img src="../../../../assets/team/Guido_Salzano_CEO.jpeg" alt="Guido Salzano" class="profile-image">
              <div class="profile-info">
                <h3>{{ 'COMPANY_ABOUT_US.CEO_NAME' | translate }}</h3>
                <p>{{ 'COMPANY_ABOUT_US.CEO_TITLE' | translate }}</p>
                <a href="https://www.linkedin.com/in/guidosalzano/" target="_blank">
                  <i class="bi bi-linkedin linkedin-icon"></i>
                  <span class="sr-only">LinkedIn Profile of Guido Salzano</span>
                </a>
              </div>
            </div>
            <div class="profile-card">
              <img src="../../../../assets/team/SerenaDangelo.jpeg" alt="Serena D'Angelo" class="profile-image">
              <div class="profile-info">
                <h3>{{ 'COMPANY_ABOUT_US.HR_NAME' | translate }}</h3>
                <p>{{ 'COMPANY_ABOUT_US.HR_TITLE' | translate }}</p>
                <a href="https://www.linkedin.com/in/serena-d-angelo-464a15163/" target="_blank" alt="Serena D'Angelo">
                  <i class="bi bi-linkedin linkedin-icon"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section>
        <h2>{{ 'COMPANY_ABOUT_US.MISSION_TITLE' | translate }}</h2>
        <p>
          {{ 'COMPANY_ABOUT_US.MISSION_BODY' | translate }}
        </p>
      </section>

      <section>
        <h2>{{ 'COMPANY_ABOUT_US.SERVICES_TITLE' | translate }}</h2>
        <ul>
          <li>
            {{ 'COMPANY_ABOUT_US.SERVICE_1' | translate }}
          </li>
          <li>
            {{ 'COMPANY_ABOUT_US.SERVICE_2' | translate }}
          </li>
          <li>
            {{ 'COMPANY_ABOUT_US.SERVICE_3' | translate }}
          </li>
        </ul>
      </section>

      <section>
        <h2>{{ 'COMPANY_ABOUT_US.WHY_CHOOSE_TITLE' | translate }}</h2>
        <ul>
          <li>
            {{ 'COMPANY_ABOUT_US.WHY_CHOOSE_1' | translate }}
          </li>
          <li>
            {{ 'COMPANY_ABOUT_US.WHY_CHOOSE_2' | translate }}
          </li>
          <li>
            {{ 'COMPANY_ABOUT_US.WHY_CHOOSE_3' | translate }}
          </li>
          <li>
            {{ 'COMPANY_ABOUT_US.WHY_CHOOSE_4' | translate }}
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center">Il nostro team</h2>
    </div>
  </div>
</div>


<div class="container">
  <div class="row mb-5 mt-5">
    <div class="col">
      <div class="profile-container">
        <div class="profile-card">
          <img src="../../../../assets/team/male.png" alt="Guido Salzano" class="profile-image">
          <div class="profile-info">
            <h3>Gian</h3>
            <p>Developer Frontend Senior Angular</p>
          </div>
        </div>
        <div class="profile-card">
          <img src="../../../../assets/team/male.png" alt="Guido Salzano" class="profile-image">
          <div class="profile-info">
            <h3>Santo</h3>
            <p>Developer Frontend Senior React</p>
          </div>
        </div>
        <div class="profile-card">
          <img src="../../../../assets/team/male.png" alt="Guido Salzano" class="profile-image">
          <div class="profile-info">
            <h3>Santo</h3>
            <p>Developer Frontend IOS</p>
          </div>
        </div>
        <div class="profile-card">
          <img src="../../../../assets/team/male.png" alt="Guido Salzano" class="profile-image">
          <div class="profile-info">
            <h3>Leo</h3>
            <p>UI/UX Senior</p>
          </div>
        </div>
        <div class="profile-card">
          <img src="../../../../assets/team/male.png" alt="Guido Salzano" class="profile-image">
          <div class="profile-info">
            <h3>Davide</h3>
            <p>UI/UX Senior</p>
          </div>
        </div>
        <div class="profile-card">
          <img src="../../../../assets/team/male.png" alt="Guido Salzano" class="profile-image">
          <div class="profile-info">
            <h3>Eli</h3>
            <p>Developer Frontend Senior Angular</p>
          </div>
        </div>
        <div class="profile-card">
          <img src="../../../../assets/team/male.png" alt="Guido Salzano" class="profile-image">
          <div class="profile-info">
            <h3>Robert</h3>
            <p>Developer Frontend Senior</p>
          </div>
        </div>
        <div class="profile-card">
          <img src="../../../../assets/team/male.png" alt="Guido Salzano" class="profile-image">
          <div class="profile-info">
            <h3>Antonello</h3>
            <p>Developer Fullstack Senior</p>
          </div>
        </div>
        <div class="profile-card">
          <img src="../../../../assets/team/male.png" alt="Guido Salzano" class="profile-image">
          <div class="profile-info">
            <h3>Stefano</h3>
            <p>Developer Fullstack Senior</p>
          </div>
        </div>
        <div class="profile-card">
          <img src="../../../../assets/team/male.png" alt="Guido Salzano" class="profile-image">
          <div class="profile-info">
            <h3>Nicola</h3>
            <p>Developer Fullstack Senior</p>
          </div>
        </div>
        <div class="profile-card">
          <img src="../../../../assets/team/male.png" alt="Guido Salzano" class="profile-image">
          <div class="profile-info">
            <h3>Jacopo</h3>
            <p>Developer Fullstack Senior</p>
          </div>
        </div>
        <div class="profile-card">
          <img src="../../../../assets/team/male.png" alt="Guido Salzano" class="profile-image">
          <div class="profile-info">
            <h3>Riccardo</h3>
            <p>Developer Fullstack Senior</p>
          </div>
        </div>
        <div class="profile-card">
          <img src="../../../../assets/team/male.png" alt="Guido Salzano" class="profile-image">
          <div class="profile-info">
            <h3>Salvatore</h3>
            <p>Developer Fullstack Senior</p>
          </div>
        </div>
        <div class="profile-card">
          <img src="../../../../assets/team/male.png" alt="Guido Salzano" class="profile-image">
          <div class="profile-info">
            <h3>Nima</h3>
            <p>QA Senior</p>
          </div>
        </div>
        <div class="profile-card">
          <img src="../../../../assets/team/male.png" alt="Guido Salzano" class="profile-image">
          <div class="profile-info">
            <h3>Anu</h3>
            <p>QA Senior</p>
          </div>
        </div>
        <div class="profile-card">
          <img src="../../../../assets/team/male.png" alt="Guido Salzano" class="profile-image">
          <div class="profile-info">
            <h3>Ashok</h3>
            <p>Team Manager Senior</p>
          </div>
        </div>
        <div class="profile-card">
          <img src="../../../../assets/team/male.png" alt="Guido Salzano" class="profile-image">
          <div class="profile-info">
            <h3>Francesco</h3>
            <p>Data Engineering Senior</p>
          </div>
        </div>
        <div class="profile-card">
          <img src="../../../../assets/team/male.png" alt="Guido Salzano" class="profile-image">
          <div class="profile-info">
            <h3>Kumar</h3>
            <p>Data Engineering Senior</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<app-stacks></app-stacks>
<app-FissaUnaCall></app-FissaUnaCall>