<div class="container py-5">
  <div class="row g-4">
    <!-- Box 1 -->
    <div class="col-12 col-md-6 col-lg-4" routerLink="/softwarehouse">
      <div class="box">
        <h2>Developer</h2>
        Angular, React, React native, Vue.JS, Swift, Flutter, DOT.NET, Java, IOS
      </div>
    </div>
    <!-- Box 2 -->
    <div class="col-12 col-md-6 col-lg-4" routerLink="/softwarehouse">
      <div class="box">
        <h2>UI/UX</h2>
        <p>figma, adobe xd, sketch</p>
      </div>
    </div>
    <!-- Box 3 -->
    <div class="col-12 col-md-6 col-lg-4" routerLink="/softwarehouse">
      <div class="box">
        <h2>AI</h2>
        <p>Python, C++, JavaScript, SQL, NoSQL, Tensorflow</p>
      </div>
    </div>
  </div>
</div>