<div class="container py-5">
  <div class="row g-4 justify-content-center">
    <!-- Box Developer -->
    <div class="col-12 col-md-6 col-lg-4" routerLink="/softwarehouse">
      <div class="box">
        <h2>Developer</h2>
        <p>Angular, React, React Native, Vue.JS, Swift, Flutter, .NET, Java, iOS</p>
      </div>
    </div>
    
    <!-- Box UI/UX -->
    <div class="col-12 col-md-6 col-lg-4" routerLink="/softwarehouse">
      <div class="box">
        <h2>UI/UX</h2>
        <p>Figma, Adobe XD, Sketch</p>
      </div>
    </div>
    
    <!-- Box AI -->
    <div class="col-12 col-md-6 col-lg-4" routerLink="/softwarehouse">
      <div class="box">
        <h2>AI</h2>
        <p>Python, C++, JavaScript, SQL, NoSQL, Tensorflow</p>
      </div>
    </div>
  </div>
</div>