<div class="container my-4">
    <div class="row align-items-center">
      <!-- Conditionally render image and text columns -->
      <ng-container *ngIf="imagePosition === 'left'; else rightLayout">
        <!-- Image Column (when imagePosition is 'left') -->
        <div class="col-md-6 d-flex justify-content-center">
          <div class="circular-image-wrapper">
            <img [src]="imageUrl" alt="Image Description" class="circular-image">
          </div>
        </div>
  
        <!-- Text Column -->
        <div class="col-md-6 text-md-left">
          <div class="circular-image-text-content">
            <h2 class="circular-image-text-headline">{{ headline }}</h2>
            <p class="circular-image-text-description">{{ description }}</p>
            <a [href]="buttonLink" class="circular-image-text-btn">{{ buttonText }}</a>
          </div>
        </div>
      </ng-container>
  
      <!-- Layout for imagePosition 'right' -->
      <ng-template #rightLayout>
        <!-- Text Column (when imagePosition is 'right') -->
        <div class="col-md-6 text-md-right">
          <div class="circular-image-text-content">
            <h2 class="circular-image-text-headline">{{ headline }}</h2>
            <p class="circular-image-text-description">{{ description }}</p>
            <a [href]="buttonLink" class="circular-image-text-btn">{{ buttonText }}</a>
          </div>
        </div>
  
        <!-- Image Column -->
        <div class="col-md-6 d-flex justify-content-center">
          <div class="circular-image-wrapper">
            <img [src]="imageUrl" alt="Image Description" class="circular-image">
          </div>
        </div>
      </ng-template>
    </div>
  </div>