<div class="home-container">
   
    <app-image-carousel></app-image-carousel>
    <app-agencyDetails></app-agencyDetails>
    <app-outsourcingBanner></app-outsourcingBanner>
    <app-academyBanner></app-academyBanner>

    <app-company-description></app-company-description>
    <app-myInformation></app-myInformation>
    <app-FissaUnaCall></app-FissaUnaCall>
    <app-parallax>
        <h1>{{ 'PARALLAX.TITLE' | translate }}</h1>
        <p>{{ 'PARALLAX.SUBTITLE' | translate }}</p>
    </app-parallax>
 
    <app-infooneBlade></app-infooneBlade>
</div>