<!-- <app-guideBannerTop></app-guideBannerTop> -->
<app-image-carousel></app-image-carousel>

<div class="container p-4 mt-5 titleGuide">

  <div class="row">
    <div class="col">
      <h1>Guide per aspiranti programmatori</h1>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-md-6">
      <img src="../../../../assets/accademy/Guide_oneBlade.png" alt="Guide oneBlade" class="full-width-img">
    </div>
    <div class="col-md-6 text-standard-oneblade">
      <p>
        <strong>Oggi la programmazione è diventata una competenza essenziale</strong>, proprio come la capacità di usare uno smartphone o un computer lo è stata negli ultimi decenni.  
        Con l’<strong>evoluzione tecnologica</strong> e la crescente <strong>digitalizzazione</strong>, acquisire abilità nel settore informatico è 
        fondamentale per <strong>restare competitivi nel mercato</strong>.
      </p>
      <p>
        Le aziende cercano costantemente <strong>professionisti qualificati</strong>, ma l’offerta di talenti non riesce a soddisfare la domanda:  
        <span class="highlight">solo in Italia, si stimano oltre <strong>200.000 posizioni aperte</strong> in ambito tech.</span>
      </p>
      <p>
        Indipendentemente dall’area in cui si desidera specializzarsi, è <strong>cruciale costruire solide basi di conoscenza</strong>.  
        Le nostre guide sono pensate per chi vuole <strong>avvicinarsi al mondo dello sviluppo web</strong>, fornendo strumenti  
        <strong>pratici e concreti</strong> per iniziare a programmare e scoprire le opportunità offerte da questa professione.
      </p>
    </div>
  </div>
</div>


<app-guideList></app-guideList>
<app-accademyBanner></app-accademyBanner>
<app-FissaUnaCall></app-FissaUnaCall>
<!-- <app-infooneBlade></app-infooneBlade> -->

