<div id="customCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <!-- Slide 1 -->
    <div class="carousel-item active">
      <img src="./assets/slide/Slide_1.jpg" class="d-block w-100" alt="{{ 'CAROUSEL.SLIDE_1.TITLE' | translate }}">
      <div class="carousel-caption-overlay">
        <h2 class="carousel-title">{{ 'CAROUSEL.SLIDE_1.TITLE' | translate }}</h2>
        <p class="carousel-subtitle">{{ 'CAROUSEL.SLIDE_1.SUBTITLE' | translate }}</p>
      </div>
    </div>
    <!-- Slide 2 -->
    <div class="carousel-item">
      <img src="./assets/slide/Slide_1.jpg" class="d-block w-100" alt="{{ 'CAROUSEL.SLIDE_2.TITLE' | translate }}">
      <div class="carousel-caption-overlay">
        <h2 class="carousel-title">{{ 'CAROUSEL.SLIDE_2.TITLE' | translate }}</h2>
        <p class="carousel-subtitle">{{ 'CAROUSEL.SLIDE_2.SUBTITLE' | translate }}</p>
      </div>
    </div>
    <!-- Slide 3 -->
    <div class="carousel-item">
      <img src="./assets/slide/Slide_1.jpg" class="d-block w-100 text-on-white"
        alt="{{ 'CAROUSEL.SLIDE_3.TITLE' | translate }}">
      <div class="carousel-caption-overlay">
        <h2 class="carousel-title text-on-white">{{ 'CAROUSEL.SLIDE_3.TITLE' | translate }}</h2>
        <p class="carousel-subtitle text-on-white">{{ 'CAROUSEL.SLIDE_3.SUBTITLE' | translate }}</p>
      </div>
    </div>
  </div>
</div>