<div class="container">
    <div class="row">
        <div class="col">
            <div class="description-box">
                <h2 class="box-title">About Our Company</h2>
                <p class="box-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id dolor ac turpis gravida malesuada.
                  Sed vehicula diam nec ante suscipit, a dictum justo fringilla. Vestibulum vel urna sed libero pretium auctor.
                  Aliquam erat volutpat. Sed non justo in augue commodo auctor. Fusce vehicula nibh vitae libero feugiat, nec
                  faucibus nulla malesuada. Integer vehicula, ante eu feugiat sodales, lorem arcu vulputate lacus, non facilisis
                  arcu sapien in justo.
                </p>
              </div>
        </div>
    </div>
</div>

