<div class="container">
  <div class="row">
    <div class="col">
      <app-company-logos></app-company-logos>

      <div class="description-box">
        <span class="box-subTitle">Sviluppiamo il tuo software</span>
        <p class="box-text">
          Siamo qui per aiutarti a realizzare <em class="evidence">progetti software su misura</em> per le tue esigenze. Mettiamo insieme team di
          <em class="evidence">medie e grandi dimensioni</em>, composti da consulenti specializzati che lavorano con noi e che abbiamo
          selezionato attentamente nel corso degli anni. Questi professionisti rispondono alle tue esigenze specifiche,
          <em class="evidence">garantendo un processo fluido e risultati di alta qualità</em>. Il tutto può essere gestito completamente da
          remoto, offrendoti la massima flessibilità operativa. Oltre allo sviluppo, offriamo un servizio di <em class="evidence">talent
          acquisition</em>. I nostri clienti hanno già adottato
          questo modello e hanno ottenuto risultati importanti, perfettamente in linea con le loro esigenze.
      </div>
    </div>
  </div>

  <div class="col">
    <div class="description-box">
      <span class="box-subTitle">Talent acquisition</span>
      <p class="box-text">
        Il servizio di talent acquisition permette ai professionisti di accedere ai migliori progetti IT sul mercato.
        Non ci limitiamo a selezionare candidati: analizziamo le esigenze specifiche
        del progetto e troviamo i talenti che meglio rispondono a queste richieste. Tutto il personale selezionato
        supera <em class="evidence">rigorosi test interni</em>, assicurando così standard elevati di qualità.
    </div>

    <app-company-logos></app-company-logos>
  </div>
</div>