<div class="container">
  <div class="row">
    <div class="col">
      <app-company-logos></app-company-logos>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <div class="description-box">
        <span class="box-subTitle">Sviluppiamo il tuo software</span>
        <p class="box-text">
          Siamo qui per aiutarti a realizzare <em class="evidence">progetti software su misura</em> per le tue esigenze.
          Mettiamo insieme team di
          <em class="evidence">medie e grandi dimensioni</em>, composti da consulenti specializzati che lavorano con noi
          e che abbiamo
          selezionato attentamente nel corso degli anni. <br><br>Questi professionisti rispondono alle tue esigenze specifiche,
          <em class="evidence">garantendo un processo fluido e risultati di alta qualità</em>. Il tutto può essere
          gestito completamente da
          remoto, offrendoti la massima flessibilità operativa. <br><br>Oltre allo sviluppo, offriamo un servizio di <em
            class="evidence">talent
            acquisition</em>. I nostri clienti hanno già adottato
          questo modello e hanno ottenuto risultati importanti, perfettamente in linea con le loro esigenze.
      </div>
      <div class="description-box">
        <span class="box-subTitle">Talent acquisition</span>
        <p class="box-text">

          Il nostro servizio di <em class="evidence">talent acquisition</em> è progettato per mettere in contatto i professionisti con i migliori
          progetti IT disponibili sul mercato. Ma la nostra offerta va ben oltre la <em class="evidence">semplice selezione di candidati:</em> ci
          impegniamo a comprendere in profondità le esigenze specifiche di ogni progetto, per garantire che il talento
          che proponiamo non solo soddisfi, ma superi le aspettative.<br><br>

          Per fare ciò, adottiamo un approccio <em class="evidence">personalizzato e analitico.</em> Iniziamo con una valutazione dettagliata dei
          requisiti del progetto e delle competenze richieste. Questo processo ci consente di identificare e selezionare
          i professionisti più adatti, che possiedano non solo le <em class="evidence">qualifiche tecniche necessarie</em>, ma anche la capacità
          di adattarsi e contribuire efficacemente al contesto del progetto.<br><br>

          Ogni <em class="evidence">candidato</em> che consideriamo per le vostre esigenze è <em class="evidence">sottoposto a rigorosi test interni e valutazioni</em>
          approfondite. Questi test sono progettati per garantire che il personale selezionato operi secondo standard
          elevati di qualità e professionalità. Ciò ci permette di assicurare che ogni talenti non solo rispetti i
          requisiti tecnici, ma sia anche in grado di integrarsi bene nel team e contribuire al <em class="evidence">successo complessivo</em> del
          progetto.<br><br>

          Inoltre, la nostra esperienza nel settore ci consente di mantenere una <em class="evidence">rete di professionisti altamente
          qualificati e aggiornati</em> con le ultime tendenze e tecnologie nel campo IT. Questo ci permette di rispondere
          con rapidità e precisione alle esigenze dei nostri clienti, fornendo soluzioni di talent acquisition che sono
          sia tempestive che di alta qualità.<br><br>

          In sintesi, il nostro servizio di talent acquisition è <em class="evidence">progettato per garantire</em> che ogni progetto IT possa
          beneficiare delle competenze più adatte e dei talenti più qualificati disponibili, contribuendo così al
          successo e all’eccellenza dei risultati finali.<br><br>



          <!-- Il servizio di talent acquisition permette ai professionisti di accedere ai migliori progetti IT sul mercato.
          Non ci limitiamo a selezionare candidati: analizziamo le esigenze specifiche
          del progetto e troviamo i talenti che meglio rispondono a queste richieste. Tutto il personale selezionato
          supera <em class="evidence">rigorosi test interni</em>, assicurando così standard elevati di qualità. -->
      </div>
    </div>
    <div class="col-5">
      <app-contact-form-azienda></app-contact-form-azienda>
      <app-recruitment></app-recruitment>

    </div>
  </div>
</div>