<div class="container mt-4 mb-4">
  <div class="row g-4">
    <!-- Box 1 -->
    <div class="col-12 col-md-6">
      <div class="box accademy" routerLink="/accademy">
        <h2>oneBlade Lab</h2>
        <p>Scegli il tuo percorso, noi ti accompagniamo</p>
      </div>
    </div>
    
    <!-- Box 2 -->
    <div class="col-12 col-md-6">
      <div class="box guide" routerLink="/guideAccademy">
        <h2>Guide</h2>
        <p>per aspiranti programmatori</p>
      </div>
    </div>
  </div>
</div>