.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;

  .carousel-inner {
    width: 100%;
  }

  .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    opacity: 0;

    &.active {
      opacity: 1;
      transition: none; // Disable transition for the initial active slide
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      position: relative;
      min-height: 360px; // Increased by 30px
    }

    .carousel-caption-overlay {
      position: absolute;
      top: 50%; // Centro verticale
      left: 50%;
      transform: translate(-50%, -50%); // Centra sia in verticale che in orizzontale
      color: #ffffff;
      text-align: center;
      max-width: 90%;

      h2.carousel-title {
        font-size: 1.4rem;
        margin-bottom: 0.1rem;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); // Add text shadow
      }

      p.carousel-subtitle {
        font-size: 1.1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); // Add text shadow
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
    height: 100%;
    background: none;
    border: none;

    &:hover {
      background: rgba(255, 255, 255, 0.4);
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-image: none;
      color: #000;
      font-size: 2rem;
    }

    .carousel-control-prev-icon::before {
      content: '‹';
    }

    .carousel-control-next-icon::before {
      content: '›';
    }
  }
}

// Media Queries per schermi di diverse dimensioni
@media (max-width: 991px) {
  .carousel {
    margin-top: -60px; // Further reduce the top margin to bring the carousel closer to the top
  }

  .carousel-caption-overlay {
    h2.carousel-title {
      font-size: 1.75rem;
    }

    p.carousel-subtitle {
      font-size: 1.1rem;
    }
  }
}

@media (max-width: 767px) {
  .carousel {
    max-height: 70vh;
  }

  .carousel-item img {
    max-height: 73vh; // Increased by 3vh
  }

  .carousel-caption-overlay {
    h2.carousel-title {
      font-size: 1.5rem;
    }

    p.carousel-subtitle {
      font-size: 1rem;
    }
  }
}

@media (max-width: 575px) {
  .carousel {
    max-height: 65vh;
  }

  .carousel-item img {
    max-height: 68vh; // Increased by 3vh
  }

  .carousel-caption-overlay {
    h2.carousel-title {
      font-size: 1.3rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p.carousel-subtitle {
      font-size: 0.9rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}