.registration-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  .registration-form div {
    margin-bottom: 1em;
  }
  
  .registration-form label {
    margin-bottom: .5em;
    color: #333333;
    display: block;
  }
  
  .registration-form input {
    border: 1px solid #CCCCCC;
    padding: .5em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
  }
  
  .registration-form button {
    padding: 0.7em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: .3em;
    cursor: pointer;
    font-size: 1em;
  }
  
  .registration-form button:hover {
    background-color: #0056b3;
  }