<app-image-carousel></app-image-carousel>

<header class="infyblade-header mb-2 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="infyblade-title display-4 text-oneblade-title">InfySuiteBlade</h1>
        <p class="infyblade-subtitle lead text-secondary">La <strong>suite gestionale intelligente</strong> per le PMI
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="mb-3">
          <strong class="text-oneblade-title">InfyBladeSuite</strong> è una soluzione completa progettata per
          digitalizzare e
          semplificare i processi aziendali. Basata su <strong>Microsoft Dynamics 365</strong>, è stata sviluppata in
          collaborazione tra <strong>oneBlade</strong> e <strong>INFYAIR</strong>.
        </p>
        <p class="mb-3">
          Pensata per le piccole e medie imprese, <strong class="text-oneblade-title">InfyBladeSuite</strong> combina
          <strong>ERP</strong>, <strong>CRM</strong>, <strong>Business Intelligence</strong> e strumenti cloud in
          un’unica
          piattaforma personalizzabile, modulare e scalabile.
        </p>
      </div>
    </div>
  </div>
</header>

<section class="infyblade-suite container py-5">
  <div id="infybladeCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <section class="infyblade-features mb-5">
          <div class="row align-items-center">
            <div class="col-md-4 text-center">
              <img src="../../../assets/Products/InfyBladeSuite/InfyBladeSuiteWhy.png" alt="InfySuiteBlade"
                class="img-fluid my-3" />
            </div>
            <div class="col-md-8">
              <h2 class="h4 text-oneblade-title">Cosa puoi fare con <strong>InfySuiteBlade</strong>:</h2>
              <ul class="list-unstyled">
                <li class="mb-2"><strong>Gestire</strong> vendite, marketing, assistenza clienti e operation in
                  un’unica
                  interfaccia</li>
                <li class="mb-2"><strong>Controllare</strong> magazzino, acquisti, produzione, contabilità e
                  fatturazione</li>
                <li class="mb-2"><strong>Monitorare</strong> le performance aziendali in tempo reale con Power BI
                </li>
                <li class="mb-2"><strong>Digitalizzare</strong> i flussi documentali con integrazione SharePoint
                </li>
                <li class="mb-2"><strong>Automatizzare</strong> processi grazie a moduli personalizzati e
                  intelligenza
                  artificiale</li>
              </ul>
            </div>
          </div>
        </section>
      </div>
      <div class="carousel-item">
        <section class="infyblade-addons mb-5">
          <div class="row align-items-center">
            <div class="col-md-4">
              <img src="../../../assets/Products/InfyBladeSuite/InfyBladeSuiteAddOn.png" alt="InfySuiteBlade"
                class="img-fluid my-3" />
            </div>
            <div class="col-md-8">
              <h2 class="h4 text-oneblade-title">Add-on <strong>esclusivi integrati</strong>:</h2>
              <ul class="list-unstyled">
                <li class="mb-2"><strong>Quality Control Management:</strong> controllo qualità a 360°</li>
                <li class="mb-2"><strong>Requisition Management:</strong> gestione intelligente delle richieste
                  interne
                </li>
                <li class="mb-2"><strong>Dealer & Trading System:</strong> gestione multifornitore e rete
                  commerciale
                </li>
                <li class="mb-2"><strong>SharePoint Plug-In:</strong> gestione documentale avanzata</li>
              </ul>
            </div>
          </div>
        </section>
      </div>
      <div class="carousel-item">
        <section class="infyblade-services mb-5">
          <div class="row align-items-center">
            <div class="col-md-4">
              <img src="../../../assets/Products/InfyBladeSuite/InfyBladeSuiteConsulenza.png" alt="InfySuiteBlade"
                class="img-fluid my-3" />
            </div>
            <div class="col-md-8">
              <h2 class="h4 text-oneblade-title">Servizi <strong>inclusi</strong>:</h2>
              <ul class="list-unstyled">
                <li class="mb-2"><strong>Consulenza</strong>, analisi e mappatura dei processi</li>
                <li class="mb-2">Licenze <strong>Microsoft CSP</strong> e <strong>SAP B1</strong></li>
                <li class="mb-2"><strong>Integrazione completa</strong> e migrazione dati</li>
                <li class="mb-2"><strong>Formazione operativa</strong> per il personale</li>
                <li class="mb-2"><strong>Supporto tecnico</strong> e aggiornamenti</li>
              </ul>
            </div>
          </div>
        </section>
      </div>
      <div class="carousel-item">
        <section class="infyblade-services mb-5">
          <div class="row align-items-center">
            <div class="col-md-4">
              <img src="../../../assets/Products/InfyBladeSuite/InfyBladeSuiteOK.png" alt="InfySuiteBlade"
                class="img-fluid my-3 imgReduce" />
            </div>
            <div class="col-md-8">
              <h2 class="h4 text-oneblade-title">Perché scegliere <strong
                  class="text-oneblade-title">InfyBladeSuite</strong>:</h2>
              <ul class="list-unstyled">
                <li class="mb-2"><strong>Pensato su misura</strong> per la PMI italiana</li>
                <li class="mb-2"><strong>Massima integrazione</strong> con l’ecosistema Microsoft</li>
                <li class="mb-2"><strong>Interfaccia moderna</strong>, intuitiva e web-based</li>
                <li class="mb-2"><strong>Implementazione rapida</strong>, con supporto completo e locale</li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#infybladeCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#infybladeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#infybladeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#infybladeCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
  </div>
</section>

<app-FissaUnaCall></app-FissaUnaCall>

<section class="case-studies container py-3 mt-4">
  <div class="row">
    <div class="col">
      <h5 class="display-4 text-oneblade-title text-center mb-5">Casi di successo</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-md-4 text-center">
              <img src="../../../assets/Products/InfyBladeSuite/InfyBladeSuiteChimica.png" alt="InfySuiteBlade"
                class="img-fluid my-3 imgReduce" />
            </div>
            <div class="col-md-8">
              <h4 class="text-oneblade-title fw-bold">Settore Chimico</h4>
              <h6 class="text-oneblade-title">Location - Germania</h6>
              <h6 class="text-oneblade-title mt-3">Esigenze:</h6>
              <ul class="list-unstyled">
                <li><strong>Complessità</strong> nella gestione dei costi per via di fornitori multipli</li>
                <li><strong>Difficoltà</strong> nel gestire varianti di imballaggio e codici articolo</li>
                <li><strong>Processi</strong> di importazione e incentivi gestiti manualmente</li>
                <li><strong>Allegati</strong> e certificazioni non ben organizzati</li>
                <li><strong>Crescita eccessiva</strong> del database per via dei numerosi allegati</li>
              </ul>
              <h6 class="text-oneblade-title">Soluzioni implementate:</h6>
              <ul class="list-unstyled">
                <li><strong>Automazione</strong> della gestione dei costi e incentivi</li>
                <li><strong>Ottimizzazione</strong> delle varianti e dei codici prodotto</li>
                <li><strong>Integrazione</strong> con SharePoint per la gestione documentale</li>
                <li><strong>Strategia cloud</strong> per migliorare performance e scalabilità</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-md-4 text-center">
              <img src="../../../assets/Products/InfyBladeSuite/InfyBladeSuiteFood.png" alt="InfySuiteBlade"
                class="img-fluid my-3 imgReduce" />
            </div>
            <div class="col-md-8">
              <h4 class="text-oneblade-title fw-bold">Settore Food & Beverage</h4>
              <h6 class="text-oneblade-title">Location - Italia</h6>
              <h6 class="text-oneblade-title mt-3">Esigenze:</h6>
              <ul class="list-unstyled">
                <li><strong>Processi manuali</strong> e poco efficienti</li>
                <li><strong>Mancanza</strong> di visibilità su inventario e produzione</li>
                <li><strong>Difficoltà</strong> nelle decisioni strategiche per carenza di dati</li>
                <li><strong>Problemi</strong> nella gestione finanziaria e della supply chain</li>
              </ul>
              <h6 class="text-oneblade-title">Soluzioni implementate:</h6>
              <ul class="list-unstyled">
                <li><strong>Automazione</strong> dei processi e integrazione dei reparti</li>
                <li><strong>Tracciamento</strong> in tempo reale della produzione e inventario</li>
                <li><strong>Dashboard</strong> e analisi avanzate per decisioni data-driven</li>
                <li><strong>Modulo loyalty</strong> per fidelizzazione clienti</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-md-4 text-center">
              <img src="../../../assets/Products/InfyBladeSuite/InfyBladeSuiteTessile.png" alt="InfySuiteBlade"
                class="img-fluid my-3 imgReduce" />
            </div>
            <div class="col-md-8">
              <h4 class="text-oneblade-title fw-bold">Settore Tessile</h4>
              <h6 class="text-oneblade-title">Location - Italia, Milano</h6>
              <h6 class="text-oneblade-title mt-3">Esigenze:</h6>
              <ul class="list-unstyled">
                <li><strong>Supply chain</strong> frammentata e difficile da tracciare</li>
                <li><strong>Problemi</strong> di overstock o mancanza scorte</li>
                <li><strong>Produzione inefficiente</strong> e pianificazione non ottimale</li>
                <li><strong>Scarsa visibilità</strong> dei costi e difficoltà di compliance</li>
                <li><strong>Difficoltà</strong> ad adattarsi alla domanda di mercato</li>
              </ul>
              <h6 class="text-oneblade-title">Soluzioni implementate:</h6>
              <ul class="list-unstyled">
                <li><strong>Gestione centralizzata</strong> della supply chain e tracciabilità</li>
                <li><strong>Strumenti avanzati</strong> per la gestione dell’inventario e della produzione</li>
                <li><strong>Automazione</strong> nella pianificazione e nell’allocazione risorse</li>
                <li><strong>Analisi</strong> in tempo reale di costi e performance</li>
                <li><strong>Gestione</strong> della conformità e degli impatti ambientali</li>
                <li><strong>CRM</strong> e strumenti predittivi per adattarsi alla domanda</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-md-4 text-center">
              <img src="../../../assets/Products/InfyBladeSuite/InfyBladeSuiteONG.png" alt="InfySuiteBlade"
                class="img-fluid my-3 imgReduce" />
            </div>
            <div class="col-md-8">
              <h4 class="text-oneblade-title fw-bold">ONG Globale</h4>
              <h6 class="text-oneblade-title">Location - Danimarca</h6>
              <h6 class="text-oneblade-title mt-3">Esigenze:</h6>
              <ul class="list-unstyled">
                <li><strong>Uso</strong> di più software scollegati per le funzioni chiave</li>
                <li><strong>Silos informativi</strong> e difficoltà di monitoraggio</li>
                <li><strong>Complessità</strong> nella gestione delle risorse umane e delle buste paga</li>
              </ul>
              <h6 class="text-oneblade-title">Soluzioni implementate:</h6>
              <ul class="list-unstyled">
                <li><strong>Consolidamento</strong> delle funzioni su Dynamics 365</li>
                <li><strong>Analisi</strong> basata su AI per decisioni più efficaci</li>
                <li><strong>Automazione</strong> di procurement e budgeting</li>
                <li><strong>Gestione progetti</strong> in tempo reale e tracciabilità spese</li>
                <li><strong>Integrazione completa</strong> di HR e payroll, conforme alle normative</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>