<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Stacks</h1>
            <p class="text-center">
                A collection of my favorite stacks and tools I use in my projects.
            </p>
        </div>
    </div>
</div>

<div class="container py-4">
    <div class="row justify-content-center">
        <div *ngFor="let stack of stacks" class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div class="card">
                <img [src]="stack.path" alt="" class="card-img-top" />
            </div>
        </div>
    </div>
</div>