// Colore della topbar
$topbar-color: #9339bb;

.recruitment-wrapper {
  background-color: #ffffff; /* Sfondo bianco */
  color: #333;
  padding: 20px;
  //border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.095);
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
  transition: background-color 0.3s ease; /* Aggiunge una transizione per l'hover */
}

.recruitment-title {
  font-size: 24px;
  color: $topbar-color; /* Colore del titolo */
  margin-bottom: 15px;
}

.recruitment-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: $topbar-color; /* Colore dello sfondo del pulsante */
  border-color: $topbar-color; /* Colore del bordo del pulsante */
  color: #ffffff; /* Colore del testo del pulsante */
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Aggiunge una transizione per l'hover */
}

.btn-primary:hover {
  background-color: darken($topbar-color, 10%); /* Colore dello sfondo del pulsante al passaggio del mouse */
  border-color: darken($topbar-color, 10%); /* Colore del bordo del pulsante al passaggio del mouse */
}

.recruitment-wrapper:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}