<div class="timer-container">
  <p>Tempo trascorso: {{ formattedTime }}</p>
</div>

<div class="container description-box">
  <h5 class="box-title">Questionario per {{ role }}</h5>

  <!-- Step Line per il progresso -->
  <div class="step-container">
    <div class="progress-bar"></div>
    <div *ngFor="let question of displayedQuestions; let i = index" class="step" [class.completed]="isCompleted(i)"
      [class.current]="i === currentQuestionIndex && !reportGenerated">
      {{ i + 1 }}
    </div>
  </div>

  <!-- Sezione delle domande -->
  <form *ngIf="!reportGenerated && questions && questions.length" (ngSubmit)="onSubmit()">
    <div *ngIf="displayedQuestions[currentQuestionIndex]" class="form-group mb-4 question-box">
      <label class="form-label required question-text">{{ displayedQuestions[currentQuestionIndex].question }}</label>
      <div class="options-container">
        <div *ngFor="let option of displayedQuestions[currentQuestionIndex].options; let j = index" class="option-item">
          <input type="radio" [name]="'question-' + currentQuestionIndex" [value]="j"
            [(ngModel)]="userAnswers[currentQuestionIndex]" required class="form-check-input custom-radio" />
          <label class="form-check-label">{{ option }}</label>
        </div>
      </div>
    </div>

    <div class="button-container">
      <button type="button" class="btn btn-primary custom-btn" (click)="nextQuestion()"
        [disabled]="userAnswers[currentQuestionIndex] === undefined">
        Avanti
      </button>
    </div>
  </form>

  <!-- Sezione del report -->
  <div *ngIf="reportGenerated" class="report-section mt-4">
    <p>Il test è terminato in {{ formattedTime }}</p>
    <p>Grazie per aver completato il questionario. Le risposte saranno inviate al momento della candidatura.</p>
  </div>
</div>