.description-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

.box-title {
    color: #9339bb;
    font-size: 1.5rem;
    text-align: center;
}

.step-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px;
}

.progress-bar {
    position: absolute;
    top: 50%;
    left: 20px; /* Inizia esattamente dal primo step */
    right: 20px; /* Termina esattamente all'ultimo step */
    height: 4px;
    background-color: #ddd;
    z-index: 0;
    transform: translateY(-50%);
}

.progress-bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #9339bb;
    width: calc((100% - 40px) / 4 * var(--completed-steps));
    transition: width 0.3s ease;
}

.step {
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
}

.step.completed {
    background-color: #a163bc;
}

.step.current {
    background-color: #9339bb;
}

.question-box {
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
}

.question-text {
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.option-item {
    text-align: left;
    width: 100%;
    max-width: 600px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.custom-radio {
    position: relative;
    margin-right: 10px;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #9339bb;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.custom-radio:checked {
    background-color: #9339bb;
}

.custom-radio:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.form-check-input:checked + .form-check-label {
    color: #9339bb;
}

.button-container {
    text-align: right;
    margin-top: 20px;
}

.custom-btn {
    background-color: #9339bb;
    border: none;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    
    &:hover {
        background-color: darken(#9339bb, 10%);
    }
}

.report-section {
    .text-success { color: #a163bc; }
    .text-danger { color: #dc3545; }
}
