@import '../../style/variabiles';




// Box di descrizione
.description-box {
    background-color: $background-color_2;
    padding: 20px;
    border-radius: $border-radius;
    max-width: 800px;
    margin: 0 auto;
}

// Titolo del box
.box-title {
    color: $primary-color;
    font-size: 1.5rem;
    text-align: center;
}

// Contenitore degli step di progresso
.step-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px;
}

.progress-bar {
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    height: 4px;
    background-color: $progress-background-color;
    z-index: 0;
    transform: translateY(-50%);
}

.progress-bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $primary-color;
    width: calc((100% - 40px) / 4 * var(--completed-steps));
    transition: width $transition-duration ease;
}

// Step di avanzamento
.step {
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $progress-background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: $font-color-white;
}

.step.completed {
    background-color: $secondary-color;
}

.step.current {
    background-color: $primary-color;
}

// Contenitore della domanda
.question-box {
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
}

.question-text {
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

// Contenitore delle opzioni
.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.option-item {
    text-align: left;
    width: 100%;
    max-width: 600px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

// Stile personalizzato per i radio button
.custom-radio {
    position: relative;
    margin-right: 10px;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid $primary-color;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.custom-radio:checked {
    background-color: $primary-color;
}

.custom-radio:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: $font-color-white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.form-check-input:checked+.form-check-label {
    color: $primary-color;
}

// Contenitore dei pulsanti
.button-container {
    text-align: right;
    margin-top: 20px;
}

// Stile personalizzato per il pulsante
.custom-btn {
    background-color: $primary-color;
    border: none;
    color: $font-color-white;
    padding: 0.5rem 1rem;
    border-radius: $border-radius;
    cursor: pointer;

    &:hover {
        background-color: darken($primary-color, $button-hover-darken);
    }
}

// Sezione del report
.report-section {
    .text-success {
        color: $secondary-color;
    }

    .text-danger {
        color: $text-color-error;
    }
}

.timer-container {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #9339bb;
    margin-bottom: 20px;
}

.disclaimer {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #666;
    text-align: center;
}