<nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
  <a href="#" class="navbar-brand" alt="">
    <div class="logo-container">
      <img src="../../assets/logo.png" alt="Logo" class="logo default-logo">
    </div>
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
    <i class="bi bi-list"></i>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="accademyDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          oneBlade LAB
        </a>
        <ul class="dropdown-menu" aria-labelledby="accademyDropdown">
          <li>
            <a class="dropdown-item" routerLink="/accademy">Scegli il corso</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/guideAccademy">Guide</a>
          </li>
        </ul>
      </li>
      <!-- <li class="nav-item d-flex align-items-center">
        <a class="nav-link christmas-link" href="#" (click)="openChristmasModal($event)">
          Gioca con me!
        </a>
      </li> -->
      <li class="nav-item d-flex align-items-center">
        <i class="bi bi-globe me-2"></i>
        <select class="form-select language-select" (change)="changeLanguage($event)" aria-label="Select Language">
          <option value="it">Italian</option>
          <option value="en">English</option>
          <option value="es">Español</option>
        </select>
      </li>
    </ul>
  </div>
</nav>

<!-- <div class="custom-modal-natale" *ngIf="isChristmasModalVisible">
  <div class="custom-modal-content-natale">
    <span class="custom-modal-close-natale" (click)="closeChristmasModal()">&times;</span>
    <iframe src="https://www.oneblade.it/natale" width="100%" height="50%" style="border: none;"
      title="BuonNatale"></iframe>
  </div>
</div> -->