// Variabili
$topbar-color: #9339bb;
$box-shadow-color: rgba(255, 255, 255, 1); // Ombra bianca
$border-color: rgba(52, 58, 64, 0.08); // Colore del bordo
$nav-link-color: #e6e3e3; // Colore del testo nel menu
$nav-link-hover-color: #ffffff; // Colore del testo al passaggio del mouse
$nav-link-hover-weight: bold; // Grassetto al passaggio del mouse
$nav-item-margin-left: 20px; // Margine tra i menu
$navbar-toggler-color: #ffffff; // Colore dell'hamburger menu
$navbar-collapse-bg: #ffffff; // Background in modalità hamburger
$navbar-collapse-shadow: rgba(0, 0, 0, 0.2); // Ombra in modalità hamburger
$navbar-collapse-link-color: #000000; // Colore dei link in modalità hamburger
$navbar-collapse-link-hover-color: #333333; // Colore dei link al passaggio del mouse in modalità hamburger
$active-link-weight: bold; // Grassetto per il link attivo

$gradient-color-1: #463da2; // Blu chiaro con trasparenza
$gradient-color-2: #3e3ccf80; // Blu scuro con trasparenza
$gradient-color-3: #9b34b1ba; // Viola con trasparenza
$gradient-color-4: #cf2c94c2; // Magenta con trasparenza
$gradient-color-5: #ffffff; // Bianco

.navbar {
  position: relative;
  /* Posizionamento per gestire il pseudo-elemento */
  width: 100%;
  height: 140px;
  /* Altezza della top bar */
  display: flex;
  align-items: center;
  /* Allinea gli elementi al centro verticalmente */

  background: none;
  /* Rimuove il background per il contenitore principale */
  box-shadow: 1px -2px 9px $box-shadow-color;
  //border-bottom: 2px solid $border-color;
  z-index: 1000;
  position: fixed;
  /* Fissa la top bar in cima */
  top: 0;
  left: 0;
  padding-left: 30px;
  padding-right: 20px;
  margin-left: 0;
  margin-right: 0;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  background: linear-gradient(45deg,
  $gradient-color-1,
  $gradient-color-2,
  $gradient-color-3,
  $gradient-color-4,
  $gradient-color-5);
  //background: url('../../assets/sfumature.png') no-repeat center center;
  background-size: cover;
  /* Assicura che l'immagine copra il contenitore */
  transform: scaleX(-1);
  /* Mirroring orizzontale dell'immagine */
  z-index: -1;
  /* Porta il pseudo-elemento dietro gli altri contenuti */
  pointer-events: none;
  /* Rende l'elemento non interattivo */
}

.navbar-brand {
  display: flex;
  align-items: center;
  height: 100%;
  /* Assicura che il contenitore del logo occupi tutta l'altezza della topbar */
}

.logo-container {
  position: relative;
  height: 140px;
  /* Imposta l'altezza del contenitore del logo */
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* Assicura che il logo occupi l'intera altezza del contenitore */
  transition: opacity 0.5s ease;
  /* Aggiunge una transizione per l'hover */
  filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.8));
  /* Effetto glow bianco */
}

.default-logo {
  z-index: 1;
  /* Assicura che il logo di default sia sopra il logo hover */
}

.hover-logo {
  opacity: 0;
  /* Nasconde il logo hover per default */
  z-index: 2;
  /* Assicura che il logo hover sia sopra il logo di default al passaggio del mouse */
}

.logo-container:hover .default-logo {
  opacity: 0;
  /* Nasconde il logo di default al passaggio del mouse */
}

.logo-container:hover .hover-logo {
  opacity: 1;
  /* Mostra il logo hover al passaggio del mouse */
}

.navbar-nav {
  margin-left: auto;
  /* Allinea il menu a destra */
}

.navbar-nav .nav-link {
  color: $nav-link-color;
  /* Colore del testo */
  font-size: 16px;
  /* Dimensione testo di default */
  display: flex;
  align-items: center;
  cursor: pointer;
  /* Mostra la manina quando si passa sopra il menu */
  transition: font-weight 0.3s ease;
}

.navbar-nav .nav-link i {
  margin-right: 8px;
  /* Spazio tra l'icona e il testo */
}

.navbar-nav .nav-link:hover {
  color: $nav-link-hover-color;
  font-weight: $nav-link-hover-weight;
}

.navbar-nav .nav-item {
  margin-left: $nav-item-margin-left;
  /* Spazio tra i menu */
}

.navbar-toggler {
  border: none;
  /* Rimuove il bordo di default dell'hamburger menu */
  color: $navbar-toggler-color;
  /* Colore bianco per l'icona */
  margin-right: 20px;
  /* Distanza di 20px dal bordo destro */
}

// Specifiche per schermi piccoli (modalità hamburger)
@media (max-width: 991.98px) {
  .navbar-collapse {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: $navbar-collapse-bg;
    width: 200px;
    box-shadow: 0 4px 8px $navbar-collapse-shadow;
    /* Ombra per dare profondità */
    border-radius: 8px;
    /* Angoli arrotondati */
    padding: 10px 0;
    /* Aggiunge padding interno */
  }

  .navbar-nav .nav-link {
    color: $navbar-collapse-link-color;
    /* Cambia il colore del testo a nero in modalità hamburger */
  }

  .navbar-nav .nav-link:hover {
    color: $navbar-collapse-link-hover-color;
    /* Colore più scuro al passaggio del mouse in modalità hamburger */
  }

  .navbar-nav {
    margin-right: 0;
  }
}

.navbar-nav .nav-link.active {
  font-weight: $active-link-weight;
  /* Evidenzia il testo del menu attivo */
}