<nav class="navbar navbar-expand-lg navbar-light bg-light w-100 responsive-navbar">
  <a href="#" class="navbar-brand" alt="">
    <div class="logo-container">
      <img src="../../assets/logo.png" alt="Logo" class="logo default-logo">
    </div>
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleMenu()">
    <i class="bi bi-list"></i>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item d-flex align-items-center">
        <a class="nav-link" routerLink="/aboutus" (click)="closeMenu()">
          {{ 'TOP_BAR.ABOUT_US' | translate }}
        </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="accademyDropdown" role="button"
          (click)="toggleDropdown('accademyDropdown')" [attr.aria-expanded]="isDropdownOpen['accademyDropdown']">
          {{ 'TOP_BAR.ONEBLADE_LAB' | translate }}
        </a>
        <ul class="dropdown-menu" [class.show]="isDropdownOpen['accademyDropdown']" aria-labelledby="accademyDropdown">
          <li>
            <a class="dropdown-item" routerLink="/academy" (click)="closeMenu()">{{ 'TOP_BAR.CHOOSE_COURSE' | translate
              }}</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/guideAccademy" (click)="closeMenu()">{{ 'TOP_BAR.GUIDES' | translate
              }}</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/academyFAQ" (click)="closeMenu()">{{ 'TOP_BAR.FAQ' | translate }}</a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="outsourcingDropdown" role="button"
          (click)="toggleDropdown('outsourcingDropdown')" [attr.aria-expanded]="isDropdownOpen['outsourcingDropdown']">
          {{ 'TOP_BAR.OUTSOURCING' | translate }}
        </a>
        <ul class="dropdown-menu" [class.show]="isDropdownOpen['outsourcingDropdown']"
          aria-labelledby="outsourcingDropdown">
          <li>
            <a class="dropdown-item" routerLink="/whyoneBlade" (click)="closeMenu()">Perchè scegliere oneBlade</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/outsourcinginfo" (click)="closeMenu()">{{ 'TOP_BAR.BODY_RENTAL' |
              translate }}</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/talentWizard" (click)="closeMenu()">{{ 'TOP_BAR.TALENT_WIZARD' |
              translate }}</a>
          </li>
        </ul>
      </li>
      <li class="nav-item d-flex align-items-center">
        <a class="nav-link" routerLink="/blog" (click)="closeMenu()">
          Blog
        </a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="authDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          {{ 'TOP_BAR.ACCOUNT' | translate }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="authDropdown">
          <li>
            <a class="dropdown-item" routerLink="/login">{{ 'TOP_BAR.LOGIN' | translate }}</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/register">{{ 'TOP_BAR.REGISTER' | translate }}</a>
          </li>
        </ul>
      </li> -->
      <li class="nav-item d-flex align-items-center">
        <i class="bi bi-globe me-2"></i>
        <select class="form-select language-select" (change)="changeLanguage($event)"
          aria-label="{{ 'TOP_BAR.SELECT_LANGUAGE' | translate }}">
          <option value="it">{{ 'TOP_BAR.ITALIAN' | translate }}</option>
          <option value="en">{{ 'TOP_BAR.ENGLISH' | translate }}</option>
          <option value="es">{{ 'TOP_BAR.SPANISH' | translate }}</option>
        </select>
      </li>
    </ul>
  </div>
</nav>

<!-- <div class="custom-modal-natale" *ngIf="isChristmasModalVisible">
  <div class="custom-modal-content-natale">
    <span class="custom-modal-close-natale" (click)="closeChristmasModal()">&times;</span>
    <iframe src="https://www.oneblade.it/natale" width="100%" height="50%" style="border: none;"
      title="BuonNatale"></iframe>
  </div>
</div> -->