// Variabili
$topbar-color: #9339bb;
$box-shadow-color: rgba(255, 255, 255, 1);
$border-color: rgba(52, 58, 64, 0.08);
$nav-link-color: #e6e3e3;
$nav-link-hover-color: #ffffff;
$nav-link-hover-weight: bold;
$nav-item-margin-left: 20px;
$navbar-toggler-color: #ffffff;
$navbar-collapse-bg: #ffffff;
$navbar-collapse-shadow: rgba(0, 0, 0, 0.2);
$navbar-collapse-link-color: #000000;
$navbar-collapse-link-hover-color: #333333;
$active-link-weight: bold;
$gradient-color-1: #463da2;
$gradient-color-2: #3e3ccf80;
$gradient-color-3: #9b34b1ba;
$gradient-color-4: #cf2c94c2;
$gradient-color-5: #ffffff;

.navbar {
  position: relative;
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  background: none;
  box-shadow: 1px -2px 9px $box-shadow-color;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 30px;
  padding-right: 20px;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  background: linear-gradient(45deg, $gradient-color-1, $gradient-color-2, $gradient-color-3, $gradient-color-4, $gradient-color-5);
  background-size: cover;
  transform: scaleX(-1);
  z-index: -1;
  pointer-events: none;
}

.navbar-brand {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo-container {
  position: relative;
  height: 140px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: opacity 0.5s ease;
  filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.8));
}

.default-logo {
  z-index: 1;
}

.hover-logo {
  opacity: 0;
  z-index: 2;
}

.logo-container:hover .default-logo {
  opacity: 0;
}

.logo-container:hover .hover-logo {
  opacity: 1;
}

.navbar-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link {
  color: $nav-link-color;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: font-weight 0.3s ease;
  margin-right: $nav-item-margin-left;
}

.navbar-nav .nav-link i {
  margin-right: 8px;
}

.navbar-nav .nav-link:hover {
  color: $nav-link-hover-color;
  font-weight: $nav-link-hover-weight;
}

.navbar-nav .nav-item {
  margin-left: $nav-item-margin-left;
}

.language-select {
  background: none;
  border: none;
  color: $nav-link-color;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
}

.language-select option {
  color: black;
}

.navbar-toggler {
  border: none; // Rimuove il bordo di default
  outline: none; // Rimuove il contorno esterno al focus
  box-shadow: none; // Rimuove eventuali ombre applicate

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:active {
    outline: none;
    box-shadow: none;
  }
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: $navbar-collapse-bg;
    width: 200px;
    box-shadow: 0 4px 8px $navbar-collapse-shadow;
    border-radius: 8px;
    padding: 10px 0;
  }

  .navbar-nav .nav-link {
    color: $navbar-collapse-link-color;
  }

  .navbar-nav .nav-link:hover {
    color: $navbar-collapse-link-hover-color;
  }

  .navbar-nav {
    margin-right: 0;
  }

  // Stile per il selettore di lingua in modalità mobile
  .language-select {
    color: $navbar-collapse-link-color; // Colore dei link in modalità hamburger
    background: none;
    border: none;
    font-size: 16px;
    padding: 5px;
  }

  .language-select option {
    color: black;
  }
}


.navbar-nav .nav-link.active {
  font-weight: $active-link-weight;
}
