.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Ensure the container takes up the full height of the viewport
}

.content {
  flex: 1; // Allow the content to grow and push the footer down
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; // Ensure the main content takes up available space
  position: relative;
  transition: opacity 300ms; // Add fade transition
}