@use 'src/app/style/variabiles' as vars;

.page-description {
    text-align: center; // Keep the title centered
    margin-bottom: vars.$gap-size * 2;

    h1 {
        font-size: vars.$font-size-xl;
        color: vars.$text-color-oneblade; // Use the title color from _variabiles.scss
        margin-bottom: vars.$gap-size;
    }

    p {
        text-align: left; // Align the description text to the left
        font-size: vars.$font-size-base;
        color: vars.$font-color-dark;
        max-width: 800px;
        margin: 0 auto;
    }
}

.partner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: vars.$gap-size;
    border: 1px solid vars.$box-shadow-color;
    padding: vars.$padding-box;
    border-radius: vars.$border-radius;
    box-shadow: vars.$box-shadow-hover;
    background-color: vars.$background-light;
    width: 100%; // Ensure the box takes full width of the column
    max-width: 300px; // Limit the maximum width for better layout
}

.partner-logo {
    width: vars.$image-size * 2.5; // Increase the size of the image
    height: auto;
    filter: grayscale(100%); // Apply grayscale filter
    transition: filter 0.3s ease; // Smooth transition for hover effect

    &:hover {
        filter: none; // Remove grayscale on hover
    }
}

.partner-details {
    flex: 1;

    .partner-description {
        font-size: vars.$font-size-base;
        color: vars.$font-color-dark;
        text-align: center; // Center-align the text inside the box
    }

    .standard-text {
        font-size: vars.$font-size-base; // Use the standard text size from variables
        color: vars.$font-color-dark;
        margin: 0 0 vars.$gap-size 0; // Add spacing between lines
    }
}