<div class="footer-wrapper">
  <div class="footer-content">
    <img src="../../assets/logo.png" alt="Logo" class="footer-logo" alt="Logo oneBlade">
    <p>©2018-{{ currentYear }} oneBlade srl <br> via di Valle Lupara, 10 - 00148 Roma (RM) Italia
      <br>Tutti i diritti sono riservati così come tutti i marchi presenti sono dei legittimi proprietari.<br>
      Capitale sociale 10.000&euro; I.V.- P.IVA/C.F. 16510411008 - REA RM1571017
    </p>
    <div class="footer-links">
      <a href="https://www.linkedin.com/in/guidosalzano/" class="footer-link" target="_blank" aria-label="LinkedIn">
        <i class="bi bi-linkedin"></i> LinkedIn
      </a>
    </div>
  </div>
</div>