<div class="container">
  <div id="companyCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000"
    data-bs-pause="false">
    <div class="carousel-inner">
      <div *ngFor="let slide of getSlides(); let isFirst = first" class="carousel-item" [class.active]="isFirst">
        <div class="logo-item" *ngFor="let logo of slide">
          <img [src]="logo.src" [alt]="logo.alt" class="d-block w-100" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>