// Variabili
$carousel-control-width: 5%;
$carousel-control-height: 50%;
$carousel-control-bg-color: rgba(147, 57, 187, 0); // Trasparente
$carousel-control-icon-bg-color: #9339bb;
$carousel-control-icon-size: 50%;
$carousel-item-padding: 20px;
$logo-item-max-width: 33.33%; // Tre elementi per slide
$logo-item-padding: 10px;
$box-text-font-size: 16px;
$box-text-line-height: 1.5;
$title-font-size: 1.75rem;
$title-color: #b302ff;

.carousel-inner {
  overflow: hidden; /* Assicurati che il contenitore non abbia overflow orizzontale */
}

.logo-item {
  flex: 1;
  max-width: $logo-item-max-width; /* Imposta la larghezza massima per ciascun elemento logo */
  padding: 0 $logo-item-padding; /* Spaziatura tra i loghi */
  box-sizing: border-box; /* Assicurati che il padding sia incluso nella larghezza */
}

.carousel-inner img {
  width: 100%;
  height: auto; /* Adatta l'altezza dell'immagine per mantenere il rapporto di aspetto */
}

.carousel-control-prev,
.carousel-control-next {
  width: $carousel-control-width; /* Imposta la larghezza per le frecce di navigazione */
  height: $carousel-control-height;
  top: 50%;
  transform: translateY(-50%);
  background-color: $carousel-control-bg-color; /* Colore di sfondo delle frecce */
  border: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: $carousel-control-icon-bg-color; /* Colore delle icone delle frecce */
  border-radius: 100%;
  background-size: $carousel-control-icon-size; /* Imposta la dimensione dell'icona */
}

.carousel-item {
  padding: 0 $carousel-item-padding; /* Spazio tra gli elementi per evitare sovrapposizione con le frecce */
}

.text-center h2 {
  font-size: $title-font-size; /* Dimensione del font del titolo */
  color: $title-color; /* Colore del titolo, uguale ai colori del tema */
  margin-bottom: 20px; /* Spazio sotto il titolo */
}

.box-text {
  font-size: $box-text-font-size;
  line-height: $box-text-line-height;
  text-align: justify;
}