<strong>Privacy Policy</strong>
<p>This privacy policy is provided pursuant to Article 13 of the European Regulation No. 679/2016 (hereinafter also
  GDPR) and applies exclusively to all Data collected through the website www.oneblade.it</p>

<strong>DATA CONTROLLER</strong>

<p>The Data Controller of the Data collected by this site is the company oneBlade S.r.l. represented by the legal
  representative, located at via Di Valle Lupara 10, 00148 Rome (RM), VAT No. 16510411008, email: info&#64;oneblade.it
</p>

<strong>METHODS AND PLACE OF PROCESSING OF PERSONAL DATA</strong>

<p>The Personal Data provided or acquired will be subject to Processing based on principles of correctness, lawfulness,
  transparency, and protection of confidentiality in accordance with current regulations.

  The Data Controller processes the Personal Data of Users by adopting the necessary security measures to prevent
  unauthorized access, disclosure, modification, or destruction of Personal Data.
  ‍The processing of Personal Data is carried out using IT and/or telematic tools, with organizational methods and
  logics strictly related to the purposes indicated below. Among the Personal Data collected are cookies, usage data,
  email, and names, where provided.

  The Data is processed at the operational headquarters of the Data Controller, in Rome (RM) at via di Valle Lupara 10
  00148 Rome. For further information, you can contact the Data Controller.</p>

<strong>Communication and dissemination of data</strong>

<p>In addition to the Data Controller, in some cases, other subjects involved in the organization of this Application
  who provide assistance in managing the Application and the activity or who ensure the provision of services to the
  User may have access to the Data. These subjects, if necessary, are appointed as Data Processors by the Data
  Controller, pursuant to Article 28 GDPR, and may access the Personal Data of Users whenever necessary and will be
  contractually obliged to keep them confidential.
  ‍
  The updated list of Data Processors can be requested via email at info&#64;oneblade.it

  Data, content, and information voluntarily provided by the User

  The Data Controller collects Data provided by the User when communicated directly by contacting the Data Controller by
  phone or email or through the tools provided on the Website such as the "Contacts" form through which the User
  requests information, or the "Talents" form through which the User applies for an open job position. The optional,
  explicit, and voluntary sending of Personal Data entails the subsequent acquisition by the Data Controller, necessary
  to respond to requests. Failure to provide such data prevents registration in the Data Controller's databases, the
  completion, and execution of the Website's services.

  The User assumes responsibility for the Personal Data of third parties published or shared through this Website and
  guarantees to have the right to communicate them, releasing the Data Controller from any responsibility towards third
  parties.

  Data, content, and information automatically acquired

  The IT systems and software procedures used to operate this Website may acquire, during their normal operation, some
  Personal Data whose transmission is implicit in the use of internet communication protocols. This information is not
  collected to be associated with identified data subjects, but by its very nature, could, through processing and
  association with Data held by third parties, allow users to be identified. This category includes IP addresses, or
  domain names used by Users who connect to the Application, URI (Uniform Resource Identifier) addresses of the
  requested resources, the time of the request, the method used to submit the request to the server, the size of the
  file obtained, etc.
  ‍
  Data relating to the use of the Website by the User, such as the pages visited, actions taken, features, and services
  used, may also be collected.
  ‍
  The Website may collect location data, which may be precise or imprecise. Precise location data may be GNSS (Global
  Navigation Satellite System, such as GPS) data, as well as data identifying the nearest repeater, Wi-Fi, and Bluetooth
  hotspots, communicated when enabling location-based products or features.</p>

<strong>Data retention period</strong>
<p>
  User Data is collected to allow the Website to provide its services, as well as for the following purposes: contacting
  the User, managing addresses and sending email messages, interacting with external platforms, and statistics.
  Specifically:
</p>
<ul>
  <li>To fulfill any type of obligation contemplated and provided for by current laws, regulations, related regulations,
    and commercial practices in tax and fiscal matters</li>
  <li>To follow up on specific requests addressed to the Data Controller by the User through the Website and its
    communication tools;</li>
  <li>For informational communications related to the Data Controller's services following a request via contact form or
    other tools</li>
  <li>For other purposes ancillary or connected to those indicated above within the scope of the Website's activities
  </li>
  <li>For profiling activities for marketing purposes</li>
  <li>Exercise of the data subject's rights.</li>
</ul>

<strong>Purposes of Data Processing</strong>
<p>
  The Data Subject has the right to exercise the rights provided for in Articles 7, 15-22 of the GDPR.
  ‍
  In particular, they have the right to withdraw their consent at any time and may access the Data, receive the Data
  provided to the Data Controller and, where possible, transmit it to another Data Controller without hindrance. They
  may also obtain the updating, restriction of processing, rectification of Data, and deletion of the same. They have
  the right, legitimately, to object to the Processing of Data concerning them and to lodge a complaint with the Privacy
  Guarantor as the supervisory authority in matters of Personal Data protection. The Data Subject may exercise their
  rights by contacting the Data Controller by email at info&#64;oneblade.it

  <strong>Further information on processing</strong>
<p>
  Defense in court

  The User's Personal Data may be used for the defense by the Data Controller in court or in the stages leading to its
  possible establishment, from abuses in the use of the same or related services by the User. The User declares to be
  aware that the Data Controller may be required to disclose the Data at the request of public authorities.

  System logs and maintenance

  For operational and maintenance purposes, this Website and any third-party services used by it may collect system
  logs, which are files that record interactions and may also contain Personal Data, such as the User's IP address.

  Information not contained in this Privacy Policy

  More information in relation to the processing of Personal Data may be requested at any time from the Data Controller
  using the contact information.

  Cookies

  Changes to this Privacy Policy

  The Data Controller reserves the right to make changes to this Privacy Policy at any time by giving notice to Users.

  The Data Controller is responsible for this Privacy Policy.

  Privacy Policy updated on 03.02.2023
</p>

<!-- Spanish Translation -->
<strong>Política de Privacidad</strong>
<p>Esta política de privacidad se proporciona de conformidad con el Artículo 13 del Reglamento Europeo No. 679/2016 (en
  adelante también GDPR) y se aplica exclusivamente a todos los Datos recopilados a través del sitio web www.oneblade.it
</p>

<strong>RESPONSABLE DEL TRATAMIENTO</strong>

<p>El Responsable del Tratamiento de los Datos recopilados por este sitio es la empresa oneBlade S.r.l. representada por
  el representante legal, ubicada en via Di Valle Lupara 10, 00148 Roma (RM), NIF 16510411008, correo electrónico:
  info&#64;oneblade.it</p>

<strong>MÉTODOS Y LUGAR DE TRATAMIENTO DE LOS DATOS PERSONALES</strong>

<p>Los Datos Personales proporcionados o adquiridos serán objeto de Tratamiento basado en principios de corrección,
  legalidad, transparencia y protección de la confidencialidad de acuerdo con las normativas vigentes.

  El Responsable del Tratamiento procesa los Datos Personales de los Usuarios adoptando las medidas de seguridad
  necesarias para evitar el acceso, divulgación, modificación o destrucción no autorizada de los Datos Personales.
  ‍El tratamiento de los Datos Personales se lleva a cabo utilizando herramientas informáticas y/o telemáticas, con
  métodos organizativos y lógicas estrictamente relacionadas con los fines indicados a continuación. Entre los Datos
  Personales recopilados se encuentran cookies, datos de uso, correo electrónico y nombres, cuando se proporcionan.

  Los Datos se procesan en la sede operativa del Responsable del Tratamiento, en Roma (RM) en via di Valle Lupara 10
  00148 Roma. Para obtener más información, puede contactar al Responsable del Tratamiento.</p>

<strong>Comunicación y difusión de datos</strong>

<p>Además del Responsable del Tratamiento, en algunos casos, otros sujetos involucrados en la organización de esta
  Aplicación que brindan asistencia en la gestión de la Aplicación y la actividad o que aseguran la prestación de
  servicios al Usuario pueden tener acceso a los Datos. Estos sujetos, si es necesario, son designados como Encargados
  del Tratamiento por el Responsable del Tratamiento, de conformidad con el Artículo 28 GDPR, y pueden acceder a los
  Datos Personales de los Usuarios siempre que sea necesario y estarán contractualmente obligados a mantenerlos
  confidenciales.
  ‍
  La lista actualizada de Encargados puede solicitarse por correo electrónico a info&#64;oneblade.it

  Datos, contenido e información proporcionados voluntariamente por el Usuario

  El Responsable del Tratamiento recopila Datos proporcionados por el Usuario cuando se comunican directamente
  contactando al Responsable del Tratamiento por teléfono o correo electrónico o a través de las herramientas
  proporcionadas en el Sitio web, como el formulario "Contactos" a través del cual el Usuario solicita información, o el
  formulario "Talents" a través del cual el Usuario se postula para una posición laboral abierta. El envío opcional,
  explícito y voluntario de Datos Personales implica la posterior adquisición por parte del Responsable del Tratamiento,
  necesaria para responder a las solicitudes. La falta de suministro de dichos datos impide el registro en las bases de
  datos del Responsable del Tratamiento, la finalización y ejecución de los servicios del Sitio web.

  El Usuario asume la responsabilidad de los Datos Personales de terceros publicados o compartidos a través de este
  Sitio web y garantiza tener el derecho de comunicarlos, liberando al Responsable del Tratamiento de cualquier
  responsabilidad hacia terceros.

  Datos, contenido e información adquiridos automáticamente

  Los sistemas informáticos y procedimientos de software utilizados para operar este Sitio web pueden adquirir, durante
  su funcionamiento normal, algunos Datos Personales cuya transmisión está implícita en el uso de protocolos de
  comunicación de Internet. Esta información no se recopila para asociarse con interesados identificados, pero por su
  propia naturaleza, podría, mediante procesamiento y asociación con Datos en poder de terceros, permitir la
  identificación de los usuarios. Esta categoría incluye direcciones IP, o nombres de dominio utilizados por los
  Usuarios que se conectan a la Aplicación, direcciones en notación URI (Uniform Resource Identifier) de los recursos
  solicitados, la hora de la solicitud, el método utilizado para enviar la solicitud al servidor, el tamaño del archivo
  obtenido, etc.
  ‍
  También se pueden recopilar Datos relacionados con el uso del Sitio web por parte del Usuario, como las páginas
  visitadas, las acciones realizadas, las funciones y servicios utilizados.
  ‍
  El Sitio web puede recopilar datos de ubicación, que pueden ser precisos o imprecisos. Los datos de ubicación precisos
  pueden ser datos GNSS (Sistema Global de Navegación por Satélite, como GPS), así como datos que identifican la torre
  de repetición más cercana, puntos de acceso Wi-Fi y Bluetooth, comunicados al habilitar productos o funciones basados
  en la ubicación.</p>

<strong>Período de retención de datos</strong>
<p>
  Los Datos del Usuario se recopilan para permitir que el Sitio Web proporcione sus servicios, así como para los
  siguientes fines: contactar al Usuario, gestionar direcciones y enviar mensajes de correo electrónico, interactuar con
  plataformas externas y estadísticas.
  Específicamente:
</p>
<ul>
  <li>Para cumplir con cualquier tipo de obligación contemplada y prevista por las leyes, regulaciones, normativas
    relacionadas y prácticas comerciales vigentes en materia tributaria y fiscal</li>
  <li>Para dar seguimiento a solicitudes específicas dirigidas al Responsable del Tratamiento por el Usuario a través
    del Sitio web y sus herramientas de comunicación;</li>
  <li>Para comunicaciones informativas relacionadas con los servicios del Responsable del Tratamiento tras una solicitud
    a través del formulario de contacto u otras herramientas</li>
  <li>Para otros fines accesorios o relacionados con los indicados anteriormente dentro del ámbito de las actividades
    del Sitio web</li>
  <li>Para actividades de perfilado con fines de marketing</li>
  <li>Ejercicio de los derechos del interesado.</li>
</ul>

<strong>Finalidades del Tratamiento de Datos</strong>
<p>
  El Interesado tiene derecho a ejercer los derechos previstos en los Artículos 7, 15-22 del GDPR.
  ‍
  En particular, tiene derecho a retirar su consentimiento en cualquier momento y puede acceder a los Datos, recibir los
  Datos proporcionados al Responsable del Tratamiento y, cuando sea posible, transmitirlos a otro Responsable del
  Tratamiento sin impedimentos. También puede obtener la actualización, restricción del tratamiento, rectificación de
  Datos y eliminación de los mismos. Tiene derecho, legítimamente, a oponerse al Tratamiento de Datos que le conciernen
  y a presentar una reclamación ante el Garante de la Privacidad como autoridad de control en materia de protección de
  Datos Personales. El Interesado puede ejercer sus derechos contactando al Responsable del Tratamiento por correo
  electrónico a info&#64;oneblade.it

  <strong>Información adicional sobre el tratamiento</strong>
<p>
  Defensa en juicio

  Los Datos Personales del Usuario pueden ser utilizados para la defensa por parte del Responsable del Tratamiento en
  juicio o en las etapas previas a su posible establecimiento, por abusos en el uso del mismo o de los servicios
  relacionados por parte del Usuario. El Usuario declara ser consciente de que el Responsable del Tratamiento puede
  estar obligado a revelar los Datos a solicitud de las autoridades públicas.

  Registros del sistema y mantenimiento

  Para fines operativos y de mantenimiento, este Sitio web y cualquier servicio de terceros utilizado por él pueden
  recopilar registros del sistema, que son archivos que registran interacciones y pueden contener también Datos
  Personales, como la dirección IP del Usuario.

  Información no contenida en esta Política de Privacidad

  Más información en relación con el tratamiento de Datos Personales puede solicitarse en cualquier momento al
  Responsable del Tratamiento utilizando la información de contacto.

  Cookies

  Cambios a esta Política de Privacidad

  El Responsable del Tratamiento se reserva el derecho de realizar cambios a esta Política de Privacidad en cualquier
  momento notificando a los Usuarios.

  El Responsable del Tratamiento es responsable de esta Política de Privacidad.

  Política de Privacidad actualizada el 03.02.2023
</p>

<!-- Italian Translation -->
<strong>Informativa sulla Privacy</strong>
<p>Questa informativa sulla privacy è resa ai sensi dell'articolo 13 del Regolamento Europeo n. 679/2016 (di seguito
  anche GDPR) e si applica esclusivamente a tutti i Dati raccolti attraverso il sito web www.oneblade.it</p>

<strong>TITOLARE DEL TRATTAMENTO</strong>

<p>Il Titolare del Trattamento dei Dati raccolti da questo sito è la società oneBlade S.r.l. in persona del legale
  rappresentante, con sede in via Di Valle Lupara 10, 00148 Roma (RM), P.IVA 16510411008, email: info&#64;oneblade.it
</p>

<strong>MODALITÀ E LUOGO DEL TRATTAMENTO DEI DATI PERSONALI</strong>

<p>I Dati Personali forniti o acquisiti saranno oggetto di Trattamento improntato ai principi di correttezza, liceità,
  trasparenza e di tutela della riservatezza ai sensi delle vigenti normative.

  Il Titolare tratta i Dati Personali degli Utenti adottando le necessarie misure di sicurezza volte ad impedire
  l'accesso, la divulgazione, la modifica o la distruzione non autorizzata dei Dati Personali.
  ‍Il trattamento dei Dati Personali avviene mediante strumenti informatici e/o telematici, con modalità organizzative e
  con logiche strettamente connesse alle finalità di seguito indicate. Tra i Dati Personali raccolti figurano cookie,
  dati di utilizzo, email e nomi, ove forniti.

  I Dati sono trattati presso la sede operativa del Titolare, in Roma (RM) alla via di Valle Lupara 10 00148 Roma. Per
  ulteriori informazioni si può contattare il Titolare del Trattamento.</p>

<strong>Comunicazione e diffusione dei dati</strong>

<p>Oltre al Titolare, in alcuni casi, potrebbero avere accesso ai Dati altri soggetti coinvolti nell'organizzazione di
  questa Applicazione che forniscono assistenza nella gestione dell'Applicazione e dell'attività o che assicurino
  prestazioni di servizi all'Utente. Detti soggetti nominati, se necessario, Responsabili del Trattamento da parte del
  Titolare, ex art. 28 GDPR, potranno accedere ai Dati Personali degli Utenti ogni qualvolta ciò si renda necessario e
  saranno contrattualmente obbligati a mantenerli riservati.
  ‍
  L'elenco aggiornato dei Responsabili può essere richiesto via email all'indirizzo info&#64;oneblade.it

  Dati, contenuti e informazioni fornite volontariamente dall'Utente

  Il Titolare raccoglie Dati forniti dall'Utente qualora venissero comunicati direttamente dallo stesso contattando
  telefonicamente o a mezzo email il Titolare o attraverso gli strumenti messi a disposizione sul Sito web come il form
  "Contatti" con cui l'Utente procede alla richiesta di informazioni, o il form "Talents" attraverso cui l'Utente
  propone la propria candidatura per una posizione lavorativa aperta. L'invio facoltativo, esplicito e volontario di
  Dati Personali comporta la successiva acquisizione da parte del Titolare, necessaria per rispondere alle richieste. Il
  mancato conferimento, pertanto, impedisce la registrazione nei database del Titolare, il perfezionamento e
  l'esecuzione dei servizi del Sito web.

  L'Utente si assume la responsabilità dei Dati Personali di terzi pubblicati o condivisi mediante questo Sito web e
  garantisce di avere diritto di comunicarli, liberando il Titolare da qualsiasi responsabilità verso terzi.

  Dati, contenuti e informazioni acquisite automaticamente

  I sistemi informatici e le procedure software preposte al funzionamento di questo Sito web possono acquisire, nel
  corso del loro normale esercizio, alcuni Dati Personali la cui trasmissione è implicita nell'uso dei protocolli di
  comunicazione internet. Si tratta di informazioni che non sono raccolte per essere associate a soggetti interessati
  identificati, ma che per la loro stessa natura, potrebbero, attraverso elaborazioni ed associazioni con Dati detenuti
  da terzi, permettere di identificare gli utenti. In questa categoria rientrano gli indirizzi IP, o i nomi di dominio
  utilizzati dagli Utenti che si connettono all'Applicazione, gli indirizzi in notazione URI (Uniform Resource
  Identifier) delle risorse richieste, l'orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al
  server, la dimensione del file ottenuto, etc.
  ‍
  Possono essere raccolti anche Dati relativi all'utilizzo del Sito web da parte dell'Utente, quali ad esempio le pagine
  visitate, le azioni compiute, le funzionalità e i servizi utilizzati.
  ‍
  Il Sito web può raccogliere Dati sulla posizione, che possono essere precisi o imprecisi. I Dati precisi sulla
  posizione possono essere Dati GNSS (Global Navigation Satellite System, ad esempio quelli GPS), oltre ai Dati che
  identificano il ripetitore più vicino, gli hotspot Wi-Fi e Bluetooth, comunicati quando si abilitano i prodotti o le
  funzionalità basati sulla posizione.</p>

<strong>Periodo di conservazione dei dati</strong>
<p>
  I Dati dell'Utente sono raccolti per consentire al Sito Web di fornire i propri servizi, così come per le seguenti
  Finalità: contattare l'Utente, Gestione indirizzi e invio di messaggi email, interazione con piattaforme esterne e
  statistica.
  Specificamente:
</p>
<ul>
  <li>Per adempiere a qualunque tipo di obbligo contemplato e previsto dalle vigenti leggi, regolamenti, normative
    correlate ed usi commerciali in materia tributaria e fiscale</li>
  <li>Per dar seguito alle specifiche richieste rivolte al Titolare dall'Utente per il tramite del Sito web e dei suoi
    strumenti di comunicazione;</li>
  <li>Per comunicazioni di natura informativa relative ai servizi del Titolare a seguito di richiesta tramite form
    contatti o altri strumenti</li>
  <li>Per altre finalità accessorie o collegate a quelle sopra indicate rientranti nell'ambito delle attività del Sito
    web</li>
  <li>Per attività di profilazione a fini di marketing</li>
  <li>Esercizio dei diritti dell'interessato.</li>
</ul>

<strong>Finalità del Trattamento dei Dati raccolti</strong>
<p>
  L'Interessato ha diritto di esercitare le facoltà previste agli artt. 7, 15-22 del GDPR.
  ‍
  In particolare, ha diritto di revocare il proprio consenso in qualsiasi momento e potrà accedere ai Dati, ricevere i
  Dati forniti al Titolare e, ove possibile, trasmetterli ad altro Titolare del trattamento senza impedimenti. Potrà,
  inoltre, ottenere l'aggiornamento, la limitazione del trattamento, la rettifica dei Dati e la cancellazione degli
  stessi. Ha diritto, legittimamente, a opporsi al Trattamento dei Dati che lo riguardano e a proporre reclamo al
  Garante della Privacy quale autorità di controllo in materia di protezione dei Dati Personali. L'Interessato potrà
  esercitare i suoi diritti contattando il Titolare a mezzo email all'indirizzo info&#64;oneblade.it

  <strong>Ulteriori informazioni sul trattamento</strong>
<p>
  Difesa in giudizio

  I Dati Personali dell'Utente possono essere utilizzati per la difesa da parte del Titolare in giudizio o nelle fasi
  propedeutiche alla sua eventuale instaurazione, da abusi nell'utilizzo della stessa o dei servizi connessi da parte
  dell'Utente. L'Utente dichiara di essere consapevole che al Titolare potrebbe essere richiesto di rivelare i Dati su
  richiesta delle pubbliche autorità.

  Log di sistema e manutenzione

  Per necessità legate al funzionamento ed alla manutenzione, questo Sito web potrebbe raccogliere Log di sistema, ossia
  file che registrano le interazioni e che possono contenere anche Dati Personali, quali l'indirizzo IP Utente.

  Informazioni non contenute in questa Privacy Policy

  Maggiori informazioni in relazione al trattamento dei Dati Personali potranno essere richieste in qualsiasi momento al
  Titolare del trattamento utilizzando le informazioni di contatto.

  Cookie

  Modifiche a questa Privacy Policy

  Il Titolare del Trattamento si riserva il diritto di apportare modifiche alla presente Privacy Policy in qualunque
  momento dandone pubblicità agli Utenti.

  Il Titolare del Trattamento dei Dati è responsabile per questa Privacy Policy.

  Informativa Privacy aggiornata al 03.02.2023
</p>