<strong>Privacy Policy
</strong>
<p>Questa privacy policy è resa ai sensi dell’art. 13 del Regolamento Europeo n. 679/2016 (di seguito anche GDPR) e si applica esclusivamente a tutti i Dati raccolti attraverso il Sito web www.oneblade.it
</p>

<strong>TITOLARE DEL TRATTAMENTO</strong>

<p>Il Titolare del Trattamento dei Dati raccolti da questo sito è la società oneBlade S.r.l. in persona del l.r.p.t. con sede 
  in via Di Valle Lupara 10, 00148 Roma (RM), P.IVA 16510411008, email: info&#64;oneblade.it</p>

<strong>MODALITÀ E LUOGO DEL TRATTAMENTO DEI DATI PERSONALI</strong>

<p>I Dati Personali forniti o acquisiti saranno oggetto di Trattamento improntato ai principi di correttezza, liceità, trasparenza e di tutela della riservatezza ai sensi delle vigenti normative.

Il Titolare tratta i Dati Personali degli Utenti adottando le necessarie misure di sicurezza volte ad impedire l’accesso, la divulgazione, la modifica o la distruzione non autorizzata dei Dati Personali.
‍Il trattamento dei Dati Personali avviene mediante strumenti informatici e/o telematici, con modalità organizzative e con logiche strettamente connesse alle finalità di seguito indicate. Tra i Dati Personali raccolti figurano cookie, dati di utilizzo, e-mail e nomi, ove forniti.

I Dati sono trattati presso la sede operativa del Titolare, in Roma (RM) alla via di Valle Lupara 10 00148 Roma. Per ulteriori informazioni si può contattare il Titolare del Trattamento.
</p>
<strong>Comunicazione e diffusione dei dati</strong>

<p>Oltre al Titolare, in alcuni casi, potrebbero avere accesso ai Dati altri soggetti coinvolti nell’organizzazione di questa Applicazione che forniscono assistenza nella gestione dell’Applicazione e dell’attività o che assicurino prestazioni di servizi all’Utente. Detti soggetti nominati, se necessario, Responsabili del Trattamento da parte del Titolare, ex art. 28 GDPR, potranno accedere ai Dati Personali degli Utenti ogni qualvolta ciò si renda necessario e saranno contrattualmente obbligati a mantenerli riservati.
‍
L’elenco aggiornato dei Responsabili può essere richiesto via email all’indirizzo info&#64;oneblade.it

Dati, contenuti e informazioni fornite volontariamente dall’Utente

Il Titolare raccoglie Dati forniti dall’Utente qualora venissero comunicati direttamente dallo stesso contattando telefonicamente o a mezzo email il Titolare o attraverso gli strumenti messi a disposizione sul Sito web come il form “Contatti” con cui l’Utente procede alla richiesta di informazioni, o il form “Talents” attraverso cui l’Utente propone la propria candidatura per una posizione lavorativa aperta. L’invio facoltativo, esplicito e volontario di Dati Personali comporta la successiva acquisizione da parte del Titolare, necessaria per rispondere alle richieste. Il mancato conferimento, pertanto, impedisce la registrazione nei database del Titolare, il perfezionamento e l’esecuzione dei servizi del Sito web.

L’Utente si assume la responsabilità dei Dati Personali di terzi pubblicati o condivisi mediante questo Sito web e garantisce di avere diritto di comunicarli, liberando il Titolare da qualsiasi responsabilità verso terzi.

Dati, contenuti e informazioni acquisite automaticamente

I sistemi informatici e le procedure software preposte al funzionamento di questo Sito web possono acquisire, nel corso del loro normale esercizio, alcuni Dati Personali la cui trasmissione è implicita nell’uso dei protocolli di comunicazione internet. Si tratta di informazioni che non sono raccolte per essere associate a soggetti interessati identificati, ma che per la loro stessa natura, potrebbero, attraverso elaborazioni ed associazioni con Dati detenuti da terzi, permettere di identificare gli utenti. In questa categoria rientrano gli indirizzi IP, o i nomi di dominio utilizzati dagli Utenti che si connettono all’Applicazione, gli indirizzi in notazione URI (Uniform Resource Identifier) delle risorse richieste, l’orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del file ottenuto, etc.
‍
Possono essere raccolti anche Dati relativi all’utilizzo del Sito web da parte dell’Utente, quali ad esempio le pagine visitate, le azioni compiute, le funzionalità e i servizi utilizzati.
‍
Il Sito web può raccogliere Dati sulla posizione, che possono essere precisi o imprecisi. I Dati precisi sulla posizione possono essere Dati GNSS (Global Navigation Satellite System, ad esempio quelli GPS), oltre ai Dati che identificano il ripetitore più vicino, gli hotspot Wi-Fi e Bluetooth, comunicati quando si abilitano i prodotti o le funzionalità basati sulla posizione.
</p>
<strong>Periodo di conservazione dei dati</strong>
<p>
I Dati dell’Utente sono raccolti per consentire al Sito Web di fornire i propri servizi, così come per le seguenti Finalità: contattare l’Utente, Gestione indirizzi e invio di messaggi email, interazione con piattaforme esterne e statistica.
Specificamente:
</p>
<ul>
  <li>Per adempiere a qualunque tipo di obbligo contemplato e previsto dalle vigenti leggi, regolamenti, normative correlate ed usi commerciali in materia tributaria e fiscale</li>
  <li>Per dar seguito alle specifiche richieste rivolte al Titolare dall’Utente per il tramite del Sito web e dei suoi strumenti di comunicazione;</li>
  <li>Per comunicazioni di natura informativa relative ai servizi del Titolare a seguito di richiesta tramite form contatti o altri strumenti</li>
  <li>Per altre finalità accessorie o collegate a quelle sopra indicate rientranti nell’ambito delle attività del Sito web</li>
  <li>Per attività di profilazione a fini di marketing</li>
  <li>Esercizio dei diritti dell’interessato.</li>
</ul>

<strong>Finalità del Trattamento dei Dati raccolti</strong>
<p>
L’Interessato ha diritto di esercitare le facoltà previste agli artt. 7, 15-22 del GDPR.
‍
In particolare, ha diritto di revocare il proprio consenso in qualsiasi momento e potrà accedere ai Dati, ricevere i Dati forniti al Titolare e, ove possibile, trasmetterli ad altro Titolare del trattamento senza impedimenti. Potrà, inoltre, ottenere l’aggiornamento, la limitazione del trattamento, la rettifica dei Dati e la cancellazione degli stessi. Ha diritto, legittimamente, a opporsi al Trattamento dei Dati che lo riguardano e a proporre reclamo al Garante della Privacy quale autorità di controllo in materia di protezione dei Dati Personali. L'Interessato potrà esercitare i suoi diritti contattando il Titolare a mezzo email all’indirizzo info&#64;oneblade.it Esercizio dei diritti dell’interessato

L’Interessato ha diritto di esercitare le facoltà previste agli artt. 7, 15-22 del GDPR. 

In particolare, ha diritto di revocare il proprio consenso in qualsiasi momento e potrà accedere ai Dati, ricevere i Dati forniti al Titolare e, ove possibile, trasmetterli ad altro Titolare del trattamento senza impedimenti. Potrà, inoltre, ottenere l’aggiornamento, la limitazione del trattamento, la rettifica dei Dati e la cancellazione degli stessi. Ha diritto, legittimamente, a opporsi al Trattamento dei Dati che lo riguardano e aproporre reclamo al Garante della Privacy quale autorità di controllo in materia di protezione dei Dati Personali.
L’Interessato potrà esercitare i suoi diritti contattando il Titolare a mezzo email all’indirizzo: info&#64;oneblade.it.com
</p>

<strong>
ULTERIORI INFORMAZIONI SUL TRATTAMENTO</strong>
<p>
Difesa in giudizio

I Dati Personali dell’Utente possono essere utilizzati per la difesa da parte del Titolare in giudizio o nelle fasi propedeutiche alla sua eventuale instaurazione, da abusi nell’utilizzo della stessa o dei servizi connessi da parte dell’Utente. L’Utente dichiara di essere consapevole che al Titolare potrebbe essere richiesto di rivelare i Dati su richiesta delle pubbliche autorità.

Log di sistema e manutenzione

Per necessità legate al funzionamento ed alla manutenzione, questo Sito web potrebbe raccogliere Log di sistema, ossia file che registrano le interazioni e che possono contenere anche Dati Personali, quali l’indirizzo IP Utente.

Informazioni non contenute in questa Privacy Policy

Maggiori informazioni in relazione al trattamento dei Dati Personali potranno essere richieste in qualsiasi momento al Titolare del trattamento utilizzando le informazioni di contatto.

Cookie

Modifiche a questa Privacy Policy

Il Titolare del Trattamento si riserva il diritto di apportare modifiche alla presente Privacy Policy in qualunque momento dandone pubblicità agli Utenti.

Il Titolare del Trattamento dei Dati è responsabile per questa Privacy Policy.

Informativa Privacy aggiornata al 03.02.2023
<p>