<app-image-carousel></app-image-carousel>

<div class="container mt-5">

  
  <div class="accordion" id="privacyPolicyAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingItalian">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItalian"
          aria-expanded="true" aria-controls="collapseItalian">
          Informativa sulla Privacy (Italiano)
        </button>
      </h2>
      <div id="collapseItalian" class="accordion-collapse collapse show" aria-labelledby="headingItalian"
        data-bs-parent="#privacyPolicyAccordion">
        <div class="accordion-body">
          <h1 class="text-center"><strong>Informativa sulla Privacy</strong></h1>
          <p>Questa informativa sulla privacy è resa ai sensi dell'articolo 13 del Regolamento Europeo n. 679/2016 (di
            seguito anche GDPR) e si applica esclusivamente a tutti i Dati raccolti attraverso il sito web
            www.oneblade.it</p>
          <h2><strong>TITOLARE DEL TRATTAMENTO</strong></h2>
          <p>Il Titolare del Trattamento dei Dati raccolti da questo sito è la società oneBlade S.r.l. in persona del
            legale rappresentante, con sede in via Di Valle Lupara 10, 00148 Roma (RM), P.IVA 16510411008, email:
            info&#64;oneblade.it</p>
          <h2><strong>MODALITÀ E LUOGO DEL TRATTAMENTO DEI DATI PERSONALI</strong></h2>
          <p>I Dati Personali forniti o acquisiti saranno oggetto di Trattamento improntato ai principi di correttezza,
            liceità, trasparenza e di tutela della riservatezza ai sensi delle vigenti normative.</p>
          <h2><strong>Comunicazione e diffusione dei dati</strong></h2>
          <p>Oltre al Titolare, in alcuni casi, potrebbero avere accesso ai Dati altri soggetti coinvolti
            nell'organizzazione di questa Applicazione che forniscono assistenza nella gestione dell'Applicazione e
            dell'attività o che assicurino prestazioni di servizi all'Utente. Detti soggetti nominati, se necessario,
            Responsabili del Trattamento da parte del Titolare, ex art. 28 GDPR, potranno accedere ai Dati Personali
            degli Utenti ogni qualvolta ciò si renda necessario e saranno contrattualmente obbligati a mantenerli
            riservati.</p>
          <h2><strong>Periodo di conservazione dei dati</strong></h2>
          <p>I Dati dell'Utente sono raccolti per consentire al Sito Web di fornire i propri servizi, così come per le
            seguenti Finalità: contattare l'Utente, Gestione indirizzi e invio di messaggi email, interazione con
            piattaforme esterne e statistica. Specificamente:</p>
          <ul>
            <li>Per adempiere a qualunque tipo di obbligo contemplato e previsto dalle vigenti leggi, regolamenti,
              normative correlate ed usi commerciali in materia tributaria e fiscale</li>
            <li>Per dar seguito alle specifiche richieste rivolte al Titolare dall'Utente per il tramite del Sito web e
              dei suoi strumenti di comunicazione;</li>
            <li>Per comunicazioni di natura informativa relative ai servizi del Titolare a seguito di richiesta tramite
              form contatti o altri strumenti</li>
            <li>Per altre finalità accessorie o collegate a quelle sopra indicate rientranti nell'ambito delle attività
              del Sito web</li>
            <li>Per attività di profilazione a fini di marketing</li>
            <li>Esercizio dei diritti dell'interessato.</li>
          </ul>
          <h2><strong>Finalità del Trattamento di Dati raccolti</strong></h2>
          <p>L'Interessato ha diritto di esercitare le facoltà previste agli artt. 7, 15-22 del GDPR. In particolare, ha
            diritto di revocare il proprio consenso in qualsiasi momento e potrà accedere ai Dati, ricevere i Dati
            forniti al Titolare e, ove possibile, trasmetterli ad altro Titolare del trattamento senza impedimenti.
            Potrà, inoltre, ottenere l'aggiornamento, la limitazione del trattamento, la rettifica dei Dati e la
            cancellazione degli stessi. Ha diritto, legittimamente, a opporsi al Trattamento dei Dati che lo riguardano
            e a proporre reclamo al Garante della Privacy quale autorità di controllo in materia di protezione dei Dati
            Personali. L'Interessato potrà esercitare i suoi diritti contattando il Titolare a mezzo email all'indirizzo
            info&#64;oneblade.it</p>
          <h2><strong>Ulteriori informazioni sul trattamento</strong></h2>
          <p>Difesa in giudizio</p>
          <p>I Dati Personali dell'Utente possono essere utilizzati per la difesa da parte del Titolare in giudizio o
            nelle fasi propedeutiche alla sua eventuale instaurazione, da abusi nell'utilizzo della stessa o dei servizi
            connessi da parte dell'Utente. L'Utente dichiara di essere consapevole che al Titolare potrebbe essere
            richiesto di rivelare i Dati su richiesta delle pubbliche autorità.</p>
          <p>Informativa Privacy aggiornata al 03.02.2023</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingEnglish">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseEnglish" aria-expanded="false" aria-controls="collapseEnglish">
          Privacy Policy (English)
        </button>
      </h2>
      <div id="collapseEnglish" class="accordion-collapse collapse" aria-labelledby="headingEnglish"
        data-bs-parent="#privacyPolicyAccordion">
        <div class="accordion-body">
          <h1 class="text-center"><strong>Privacy Policy</strong></h1>
          <p>This privacy policy is provided pursuant to Article 13 of the European Regulation No. 679/2016 (hereinafter
            also GDPR) and applies exclusively to all Data collected through the website www.oneblade.it</p>
          <h2><strong>DATA CONTROLLER</strong></h2>
          <p>The Data Controller of the Data collected by this site is the company oneBlade S.r.l. represented by the
            legal representative, located at via Di Valle Lupara 10, 00148 Rome (RM), VAT No. 16510411008, email:
            info&#64;oneblade.it</p>
          <h2><strong>METHODS AND PLACE OF PROCESSING OF PERSONAL DATA</strong></h2>
          <p>The Personal Data provided or acquired will be subject to Processing based on principles of correctness,
            lawfulness, transparency, and protection of confidentiality in accordance with current regulations.</p>
          <h2><strong>Communication and dissemination of data</strong></h2>
          <p>In addition to the Data Controller, in some cases, other subjects involved in the organization of this
            Application who provide assistance in managing the Application and the activity or who ensure the provision
            of services to the User may have access to the Data. These subjects, if necessary, are appointed as Data
            Processors by the Data Controller, pursuant to Article 28 GDPR, and may access the Personal Data of Users
            whenever necessary and will be contractually obliged to keep them confidential.</p>
          <h2><strong>Data retention period</strong></h2>
          <p>User Data is collected to allow the Website to provide its services, as well as for the following purposes:
            contacting the User, managing addresses and sending email messages, interacting with external platforms, and
            statistics. Specifically:</p>
          <ul>
            <li>To fulfill any type of obligation contemplated and provided for by current laws, regulations, related
              regulations, and commercial practices in tax and fiscal matters</li>
            <li>To follow up on specific requests addressed to the Data Controller by the User through the Website and
              its communication tools;</li>
            <li>For informational communications related to the Data Controller's services following a request via
              contact form or other tools</li>
            <li>For other purposes ancillary or connected to those indicated above within the scope of the Website's
              activities</li>
            <li>For profiling activities for marketing purposes</li>
            <li>Exercise of the data subject's rights.</li>
          </ul>
          <h2><strong>Purposes of Data Processing</strong></h2>
          <p>The Data Subject has the right to exercise the rights provided for in Articles 7, 15-22 of the GDPR. In
            particular, they have the right to withdraw their consent at any time and may access the Data, receive the
            Data provided to the Data Controller and, where possible, transmit it to another Data Controller without
            hindrance. They may also obtain the updating, restriction of processing, rectification of Data, and deletion
            of the same. They have the right, legitimately, to object to the Processing of Data concerning them and to
            lodge a complaint with the Privacy Guarantor as the supervisory authority in matters of Personal Data
            protection. The Data Subject may exercise their rights by contacting the Data Controller by email at
            info&#64;oneblade.it</p>
          <h2><strong>Further information on processing</strong></h2>
          <p>Defense in court</p>
          <p>The User's Personal Data may be used for the defense by the Data Controller in court or in the stages
            leading to its possible establishment, from abuses in the use of the same or related services by the User.
            The User declares to be aware that the Data Controller may be required to disclose the Data at the request
            of public authorities.</p>
          <p>Privacy Policy updated on 03.02.2023</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSpanish">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseSpanish" aria-expanded="false" aria-controls="collapseSpanish">
          Política de Privacidad (Español)
        </button>
      </h2>
      <div id="collapseSpanish" class="accordion-collapse collapse" aria-labelledby="headingSpanish"
        data-bs-parent="#privacyPolicyAccordion">
        <div class="accordion-body">
          <h1 class="text-center"><strong>Política de Privacidad</strong></h1>
          <p>Esta política de privacidad se proporciona de conformidad con el Artículo 13 del Reglamento Europeo No.
            679/2016 (en adelante también GDPR) y se aplica exclusivamente a todos los Datos recopilados a través del
            sitio web www.oneblade.it</p>
          <h2><strong>RESPONSABLE DEL TRATAMIENTO</strong></h2>
          <p>El Responsable del Tratamiento de los Datos recopilados por este sitio es la empresa oneBlade S.r.l.
            representada por el representante legal, ubicada en via Di Valle Lupara 10, 00148 Roma (RM), NIF
            16510411008, correo electrónico: info&#64;oneblade.it</p>
          <h2><strong>MÉTODOS Y LUGAR DE TRATAMIENTO DE LOS DATOS PERSONALES</strong></h2>
          <p>Los Datos Personales proporcionados o adquiridos serán objeto de Tratamiento basado en principios de
            corrección, legalidad, transparencia y protección de la confidencialidad de acuerdo con las normativas
            vigentes.</p>
          <h2><strong>Comunicación y difusión de datos</strong></h2>
          <p>Además del Responsable del Tratamiento, en algunos casos, otros sujetos involucrados en la organización de
            esta Aplicación que brindan asistencia en la gestión de la Aplicación y la actividad o que aseguran la
            prestación de servicios al Usuario pueden tener acceso a los Datos. Estos sujetos, si es necesario, son
            designados como Encargados del Tratamiento por el Responsable del Tratamiento, de conformidad con el
            Artículo 28 GDPR, y pueden acceder a los Datos Personales de los Usuarios siempre que sea necesario y
            estarán contractualmente obligados a mantenerlos confidenciales.</p>
          <h2><strong>Período de retención de datos</strong></h2>
          <p>Los Datos del Usuario se recopilan para permitir que el Sitio Web proporcione sus servicios, así como para
            los siguientes fines: contactar al Usuario, gestionar direcciones y enviar mensajes de correo electrónico,
            interactuar con plataformas externas y estadísticas. Específicamente:</p>
          <ul>
            <li>Para cumplir con cualquier tipo de obligación contemplada y prevista por las leyes, regulaciones,
              normativas relacionadas y prácticas comerciales vigentes en materia tributaria y fiscal</li>
            <li>Para dar seguimiento a solicitudes específicas dirigidas al Responsable del Tratamiento por el Usuario a
              través del Sitio web y sus herramientas de comunicación;</li>
            <li>Para comunicaciones informativas relacionadas con los servicios del Responsable del Tratamiento tras una
              solicitud a través del formulario de contacto u otras herramientas</li>
            <li>Para otros fines accesorios o relacionados con los indicados anteriormente dentro del ámbito de las
              actividades del Sitio web</li>
            <li>Para actividades de perfilado con fines de marketing</li>
            <li>Ejercicio de los derechos del interesado.</li>
          </ul>
          <h2><strong>Finalidades del Tratamiento de Datos</strong></h2>
          <p>El Interesado tiene derecho a ejercer los derechos previstos en los Artículos 7, 15-22 del GDPR. En
            particular, tiene derecho a retirar su consentimiento en cualquier momento y puede acceder a los Datos,
            recibir los Datos proporcionados al Responsable del Tratamiento y, cuando sea posible, transmitirlos a otro
            Responsable del Tratamiento sin impedimentos. También puede obtener la actualización, restricción del
            tratamiento, rectificación de Datos y eliminación de los mismos. Tiene derecho, legítimamente, a oponerse al
            Tratamiento de Datos que le conciernen y a presentar una reclamación ante el Garante de la Privacidad como
            autoridad de control en materia de protección de Datos Personales. El Interesado puede ejercer sus derechos
            contactando al Responsable del Tratamiento por correo electrónico a info&#64;oneblade.it</p>
          <h2><strong>Información adicional sobre el tratamiento</strong></h2>
          <p>Defensa en juicio</p>
          <p>Los Datos Personales del Usuario pueden ser utilizados para la defensa por parte del Responsable del
            Tratamiento en juicio o en las etapas previas a su posible establecimiento, por abusos en el uso del mismo o
            de los servicios relacionados por parte del Usuario. El Usuario declara ser consciente de que el Responsable
            del Tratamiento puede estar obligado a revelar los Datos a solicitud de las autoridades públicas.</p>
          <p>Política de Privacidad actualizada el 03.02.2023</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-outsourcingBanner></app-outsourcingBanner>
<app-academyBanner></app-academyBanner>
<app-infooneBlade></app-infooneBlade>