.description-box {
    background-color: #ffffff;
    color: #333;
    padding: 20px;
    max-width: 800px;
    margin: 40px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box-title {
    font-size: 28px;
    margin-bottom: 15px;
    color: #9339bb; /* Colore del titolo */
}

.form-group {
    margin-bottom: 1rem;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: none; /* Rimuove il bordo boxato */
    border-bottom: 2px solid #ccc; /* Solo la linea di sotto */
    border-radius: 0; /* Rimuove gli angoli arrotondati */
    font-size: 15px;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-bottom-color: #9339bb; /* Colore della linea sottostante in focus */
    outline: none;
}

.error-message {
    color: red;
    font-size: 0.75rem;
    margin-top: 0.5rem;
}

.button-row {
    display: flex;
    justify-content: flex-end; /* Allinea il pulsante a destra */
    margin-top: 20px; /* Spazio sopra il pulsante */
}

.btn-primary {
    background-color: transparent; /* Sfondo trasparente */
    border: 2px solid #9339bb; /* Bordo colorato */
    color: #9339bb; /* Colore del testo del pulsante */
    padding: 0.5rem 1rem;
    font-size: 16px;
    border-radius: 12px; /* Angoli arrotondati */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary:hover {
    background-color: #9339bb; /* Colore dello sfondo al passaggio del mouse */
    color: #ffffff; /* Colore del testo al passaggio del mouse */
}

.form-group input[type="checkbox"] {
    width: 20px; /* Dimensione del checkbox */
    height: 20px; /* Dimensione del checkbox */
    accent-color: #9339bb; /* Colore del check */
    margin-right: 10px; /* Spazio tra il checkbox e il testo */
    vertical-align: middle; /* Allinea verticalmente */
}

.form-group label {
    font-size: 14px; /* Dimensione del font più piccolo per i checkbox */
    display: flex;
    align-items: center; /* Allinea verticalmente checkbox e testo */
}

.form-group label input[type="checkbox"] {
    margin-right: 10px; /* Spazio tra il checkbox e il testo */
}