<app-guideBannerTop></app-guideBannerTop>

<div *ngIf="course">
  <div class="container mt-5">
    <div class="row">
      <div class="col-8">
        <h1>{{ course.title }}</h1>

        <!-- Descrizione caricata dinamicamente -->
        <div *ngIf="sanitizedDescription" [innerHTML]="sanitizedDescription"></div>

        <h3>Contenuti del Corso:</h3>
        <ul>
          <li *ngFor="let content of course.course_contents">
            <strong>{{ content.title }}:</strong> {{ content.text }}
          </li>
        </ul>

        <h3>Requisiti</h3>
        <ul>
          <li *ngFor="let req of course.requirements">
            <strong>{{ req.title }}:</strong> {{ req.description }}
          </li>
        </ul>
      </div>

      <div class="col-4">
        <div class="course-info-box">
          <h3>Dettagli del Corso</h3>
          <p><strong>Codice:</strong> {{ course.idCourse }}</p>
          <p><strong>Durata:</strong> {{ course.duration }}</p>
          <p><strong>Modalità:</strong> {{ course.mode }}</p>
          <p><strong>Lezioni:</strong> {{ course.lessons }}</p>
          <p><strong>Tempo:</strong> {{ course.time }}</p>
          <p><strong>Livello:</strong> {{ course.level }}</p>

          <app-academyReservation></app-academyReservation>
        </div>
      </div>
    </div>
  </div>
</div>

<app-accademyBanner></app-accademyBanner>
<app-infooneBlade></app-infooneBlade>