<app-image-carousel></app-image-carousel>

<div class="container">
  <div class="row">
    <!-- Colonna immagine -->
    <div class="col">
      <img src="../../../assets/sviluppoSoftwareOneBlade.jpg" class="img-fluid faded-image" alt="Immagine Esempio">
    </div>

    <!-- Colonna testo centrata verticalmente -->
    <div class="col d-flex align-items-center">
      <div>
        <h2 class="title">Il nostro servizio</h2>
        <p class="subtitle_1">
          <strong>OneBlade</strong> realizza <strong>soluzioni software su misura</strong> per potenziare e ottimizzare il tuo business.  
          Siamo un team di <strong>sviluppatori</strong>, <strong>designer</strong> e <strong>architetti del software</strong>, specializzati nella 
          <strong>progettazione</strong> e <strong>creazione di applicazioni personalizzate</strong>, pensate per rispondere in modo 
          <strong>efficace</strong> e <strong>innovativo</strong> alle esigenze dei nostri clienti e partner.<br>
          Ci occupiamo di tutto il <strong>ciclo di sviluppo</strong>, dall’<strong>ideazione</strong> e <strong>progettazione</strong> 
          fino all’<strong>implementazione</strong>, garantendo prodotti di <strong>alta qualità</strong> e perfettamente integrati 
          nei <strong>processi aziendali</strong>.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="custom-container">
  <h2 class="title">Le nostre soluzioni personalizzate per le aziende</h2>
  <p class="subtitle_1">
    Scegli tra diverse soluzioni studiate per rispondere nel modo più efficace alle 
    <strong>esigenze di aziende, agenzie marketing e software house</strong>.
  </p>

  <div class="row">
    <!-- Box Sviluppo Software -->
    <div class="service-box">
      <div class="service-content">
        <img src="../../../assets/speedSoftwareOneBlade.jpg" alt="Sviluppo Software" class="service-icon">
        <h3>Soluzioni su misura per la crescita della tua azienda</h3>
        <p>
          Offriamo una gamma di servizi pensati per supportare aziende, agenzie di marketing e software house nella digitalizzazione e nello sviluppo di soluzioni tecnologiche innovative.
        </p>
      </div>
    </div>

    <!-- Box Collaborazioni -->
    <div class="service-box">
      <div class="service-content">
        <img src="../../../assets/BodyRentalServiceOneBlade.jpg" alt="Collaborazioni" class="service-icon">
        <h3>Collaborazioni body rental</h3>
        <p>
          Mettiamo a disposizione della tua azienda professionisti qualificati, pronti a integrarsi rapidamente nei tuoi progetti. Ti garantiamo competenza, affidabilità e un supporto flessibile per soddisfare le tue esigenze operative.
        </p>
      </div>
    </div>
  </div>
</div>


<app-FissaUnaCall></app-FissaUnaCall>
<!-- <app-infooneBlade></app-infooneBlade> -->