<div id="carouselExampleControls" class="carousel slide">
  <div class="carousel-inner">
    <!-- Slide 1 -->
    <div class="carousel-item active">
      <img src="../../assets/slide/Slide_1.jpg" class="d-block w-100" alt="Image 1">
      <div class="carousel-caption-overlay">
        <h2 class="carousel-title">Talent Acquisition</h2>
        <p class="carousel-subtitle">il nostro forte è trovare il tuo migliore</p>
      </div>
    </div>
    <!-- Slide 2 -->
    <div class="carousel-item">
      <img src="../../assets/slide/Slide_3.jpg" class="d-block w-100" alt="Image 2">
      <div class="carousel-caption-overlay">
        <h2 class="carousel-title text-on-white">Dal concetto alla creazione</h2>
        <p class="carousel-subtitle text-on-white">software che supera le aspettative</p>
      </div>
    </div>
    <!-- Slide 3 -->
    <div class="carousel-item">
      <img src="../../assets/slide/Slide_1.jpg" class="d-block w-100" alt="Image 3">
      <div class="carousel-caption-overlay">
        <h2 class="carousel-title">Talento e Innovazione in Perfetta Armonia</h2>
        <p class="carousel-subtitle">Selezioniamo i migliori talenti per sviluppare software che trasforma il futuro.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>