/* full-background.component.scss */

.full-background-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Altezza del contenitore pari all'altezza della viewport */
  overflow: hidden;
}

/* Immagine di sfondo */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background-image: url('../../assets/background-1.jpg'); /* Percorso dell'immagine di sfondo */
  background-size: cover;
  background-position: center;
  z-index: 1; /* Manda l'immagine di sfondo dietro il contenuto */
}

/* Contenitore del contenuto */
.content-container {
  position: relative;
  z-index: 2; /* Porta il contenuto sopra l'immagine di sfondo */
  height: 100%;
  display: flex;
  align-items: center; /* Allinea il testo verticalmente al centro */
  justify-content: space-between; /* Spazio tra il testo e l'immagine sovrapposta */
  padding: 0 100px; /* Spazio laterale */
}

/* Immagine sovrapposta */
.overlay-image-wrapper {
  position: absolute;
  right: 100px; /* Distanza di 100px dal lato destro */
  top: 10px; /* Distanza di 10px dal top */
}

.overlay-image {
  width: auto;
  height: 600px; /* Imposta un'altezza fissa per l'immagine sovrapposta */
}

/* Testo */
.text-content {
  max-width: 50%; /* Limita la larghezza del testo */
  color: #fff; /* Colore del testo bianco */
  z-index: 2; /* Porta il testo sopra l'immagine di sfondo */
}

.main-text {
  font-size: 4rem; /* Grandezza del testo */
  line-height: 1.2;
  margin: 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Ombra del testo per migliorare la leggibilità */
}

/* Responsività */
@media (max-width: 767.98px) {
  .text-content {
    max-width: 100%;
    text-align: center;
  }
  
  .overlay-image-wrapper {
    right: 10px; /* Spazio ridotto per dispositivi mobili */
    top: 10px; /* Distanza di 10px dal top per dispositivi mobili */
  }
  
  .main-text {
    font-size: 2rem; /* Riduce la dimensione del testo per dispositivi mobili */
  }
}