@import '../style/_variabiles.scss';

.card {
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    overflow: hidden;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    color: $primary-color;
}

.card-text {
    flex-grow: 1;
}

.btn-primary {
    background-color: transparent;
    border-color: $primary-color;
    color: $primary-color;
    transition: background-color $transition-speed, color $transition-speed;
    cursor: pointer;

    &:hover {
        background-color: $primary-color;
        color: $text-color;
    }
}

.pagination {
    .page-item {
        .page-link {
            color: $primary-color;
            border: 1px solid $primary-color;
            transition: background-color $transition-speed, color $transition-speed;
            cursor: pointer;

            &:hover {
                background-color: $primary-color;
                color: $text-color;
            }
        }

        &.active .page-link {
            background-color: $primary-color;
            border-color: $primary-color;
            color: $text-color;
        }

        &.disabled .page-link {
            color: $text-color-dark;
            pointer-events: none;
            background-color: $background-color_2;
            border-color: $background-color_2;
        }
    }
}