@import '../style/_variabiles.scss';

.blog-container {
    display: flex;
    justify-content: space-between;
    background-color: $background-light;
    color: $text-dark;
}

.main-article {
    flex: 3;
    margin-right: 20px;
    padding: $padding-box;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    background-color: $background-color_2;
}

.sidebar {
    flex: 1;
    padding: $padding-box;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    background-color: $background-color_2;
}

.related-articles ul {
    list-style-type: none;
    padding: 0;
}

.related-articles li {
    cursor: pointer;
    color: $primary-color;
    text-decoration: underline;
}

.card {
    box-shadow: $box-shadow;
    border-radius: $border-radius;
}

.card-title {
    color: $primary-color;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.card-body {
    padding: 20px;
}

.card-text {
    font-size: 1em;
    color: $text-color-dark;
    margin-bottom: 15px;
}

.card-text i {
    margin-right: 5px;
}

.d-flex {
    display: flex;
    align-items: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.rounded-circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover; // Add this line to maintain aspect ratio
}

.mb-0 {
    margin-bottom: 0;
}

.mb-3 {
    margin-bottom: 1rem;
}

.me-2 {
    margin-right: 0.5rem;
}

.list-group-item {
    cursor: pointer;

    &:hover {
        background-color: $hover-color;
    }
}

.badge {
    font-size: $font-size-xs;
}

@media (max-width: 768px) {

    .main-article,
    .sidebar {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.list-inline-item {
    font-size: 0.8em;
    color: $primary-color;
    margin-right: 10px;
}

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}