<app-image-carousel></app-image-carousel>

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Articoli in evidenza</h1>
            <div *ngIf="isLoading" class="text-center">
                <p>Caricamento in corso...</p>
            </div>
            <div *ngIf="!isLoading" class="row">
                <div *ngFor="let article of paginatedArticles" class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img [src]="article.image" class="card-img-top" alt="{{ article.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-category">{{ article.categoryName }}</p>
                            <p class="card-author">{{ article.authorName }}</p>
                            <p class="card-date">{{ article.creationDate | italianDate }}</p>
                            <button class="btn btn-primary" (click)="selectArticle(article)">Leggi tutto</button>
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item" [class.disabled]="currentPage === 1">
                        <a class="page-link" (click)="goToPage(currentPage - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
                        [class.active]="currentPage === i + 1">
                        <a class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</a>
                    </li>
                    <li class="page-item" [class.disabled]="currentPage === totalPages">
                        <a class="page-link" (click)="goToPage(currentPage + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>