<app-guideBannerTop></app-guideBannerTop>

<div *ngIf="course">
  <div class="container mt-4">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-8 mb-4">
        <h1>{{ course.title }}</h1>
        <div [innerHTML]="course.description"></div>
        <!-- Descrizione caricata dinamicamente -->
        <div *ngIf="sanitizedDescription" [innerHTML]="sanitizedDescription"></div>
        <h3 *ngIf="course.course_contents && course.course_contents.length > 0">Contenuti del Corso:</h3>
        <ul *ngIf="course.course_contents && course.course_contents.length > 0">
          <li *ngFor="let content of course.course_contents">
            <strong>{{ content.title }}:</strong> {{ content.text }}
          </li>
        </ul>

        <h3 *ngIf="course.requirements && course.requirements.length > 0">Requisiti</h3>
        <ul *ngIf="course.requirements && course.requirements.length > 0">
          <li *ngFor="let req of course.requirements">
            <strong>{{ req.title }}:</strong> {{ req.description }}
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-4 col-lg-4">
        <div class="course-info-box">
          <h2>Dettagli del Corso</h2>
          <p *ngIf="course.idCourse !== null && course.idCourse !== undefined && course.idCourse !== ''">
            <strong>Codice:</strong> {{ course.idCourse }}
          </p>
          <p *ngIf="course.duration"><strong>Durata</strong> {{ course.duration }}</p>
          <p *ngIf="course.mode"><strong>Modalità</strong> {{ course.mode }}</p>
          <p *ngIf="course.lessons"><strong>Lezioni</strong> {{ course.lessons }}</p>
          <p *ngIf="course.time"><strong>Tempo</strong> {{ course.time }}</p>
          <p *ngIf="course.level"><strong>Livello</strong> {{ course.level }}</p>
          <!-- <p *ngIf="course.price"><strong>Prezzo del corso:</strong> <span class="course-price">{{ course.price
              }}</span></p> -->

          <!-- <p><strong>Live session:</strong> Parteciperai 2 volte a settimana a lezioni live con i docenti, dove potrai
            interagire e porre domande in tempo reale.</p> -->
          <p class="mt-3 mb-3">Compilando il form qui presente, non effettuerai direttamente l’acquisto del corso, ma
            invierai una richiesta di contatto. Il nostro team ti ricontatterà al più presto per fornirti tutte le
            informazioni necessarie, rispondere alle tue domande e guidarti nel processo di iscrizione. Siamo a tua
            disposizione per qualsiasi chiarimento! 😊</p>
          <app-academyReservation></app-academyReservation>
        </div>

        <div class="course-info-box" *ngIf="course.datecourse?.length">
          <h3>Prossime classi in partenza</h3>
          <div *ngFor="let date of course.datecourse">
            <p><strong>{{ date }}</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-academyEndorserBanner></app-academyEndorserBanner> -->
<app-academyBanner></app-academyBanner>
<app-accademyBanner></app-accademyBanner>

<app-infooneBlade></app-infooneBlade>
<app-FissaUnaCall></app-FissaUnaCall>