@import '../../style/variabiles';

.info-contatto {
    background-color: $background-color_2; 
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .contenitore {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        width: 100%;
        gap: 2rem;
    }

    /* Testo */
    .testo-contatto {
        color: $primary-color;
        max-width: 600px;

        h2 {
            font-size: $font-size-lg;
            color: $text-color-dark;
        }

        p {
            font-size: $font-size-xs;
            margin-top: 1rem;
            line-height: 1.5;
            color: $text-color-dark;
            margin-bottom: 2rem;

            strong {
                color: $primary-color;
            }
        }

        .bottone-whatsapp {           
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #25D366;
            color: $text-color;
            font-size: $font-size-xs;
            padding: 1rem 2rem;
            border-radius: 1rem;
            text-decoration: none;
            margin-top: 1.5rem;
            transition: background 0.3s ease-in-out;
            width: fit-content;

            img {
                width: 24px;
                margin-right: 0.75rem;
            }

            &:hover {
                background-color: $primary-color;
            }

            .icona-whatsapp {
                width: 24px;
                height: 24px;
                margin-right: 0.75rem;
            }
        }

        .telefono {
            margin-top: 1rem;
            font-size: $font-size-lg;
            color: $text-color-dark;
        }
    }

    /* Immagine */
    .immagine-contatto {
        img {          
            width: 90%;  
            max-width: 400px; /* Limitiamo la grandezza dell'immagine */
        }
    }
}

/* --- RESPONSIVITÀ --- */
@media (max-width: 768px) {
    .info-contatto {
        padding: 2rem 1rem;
    }

    .contenitore {
        flex-direction: column;
        text-align: center;
        gap: 1.5rem;
    }

    .testo-contatto {
        max-width: 100%;
    }

    .bottone-whatsapp {
        width: 100%;
    }

    .immagine-contatto img {
        max-width: 80%; 
        margin: 0 auto;
    }
}