$primary-color: #6a1b9a;
$secondary-color: #9c2ea6;
$text-color: #ffffff;
$text-color-oneblade: #9c2ea6;
$text-color-dark: #9c2ea6;
$background-color: rgb(255, 255, 255);
$hover-color: rgba(0, 0, 0, 0.2);
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
$border-radius: 0.75rem;
$transition-speed: 0.3s;
$font-size-base: 1.8rem;
$font-size-lg: 2.8rem;
$font-size-xs: 1.5rem;
$font-size-xl: 2.5rem;
$font-size-md:2.5rem;
$padding-base: 1.25rem;
$gap: 1rem;
$filter-width: 50%;
$filter-max-width: 25rem;

.info-contatto {
    background-color: $background-color; // Sfondo bianco
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .contenitore {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        width: 100%;
    }

    .testo-contatto {
        color: $primary-color;
        max-width: 600px;

        h2 {
            font-size: $font-size-lg;
            color: $text-color-dark;
        }

        p {
            font-size: $font-size-xs;
            margin-top: 1rem;
            line-height: 1.5;
            color: $text-color-dark;
            margin-bottom: 2rem;

            strong {
                color: $primary-color;
            }
        }

        .bottone-whatsapp {           
            align-items: center;
            background-color: #25D366;
            color: $text-color;
            font-size: $font-size-xs;
            padding: 1rem 2rem;
            border-radius: 1rem;
            text-decoration: none;
            margin-top: 1.5rem;
            transition: background 0.3s ease-in-out;

            img {
                width: 24px;
                margin-right: 0.75rem;
            }

            &:hover {
                background-color: $primary-color;
            }

            .icona-whatsapp {
                width: 24px;
                height: 24px;
                margin-right: 0.75rem;
            }
        }

        .telefono {
            margin-top: 1rem;
            font-size: $font-size-lg;
            color: $text-color-dark;
        }
    }

    .immagine-contatto {
        img {          
            width: 90%;                              
        }
    }
}