<section class="info-contatto">
  <div class="contenitore">
      <div class="testo-contatto">
          <h2>Hai bisogno di informazioni?</h2>
          <p>
              Parliamone! <strong>Scrivici su Whatsapp</strong> 
              e risponderemo a tutte le tue domande.
          </p>
          <a href="https://wa.me/3519378516" class="bottone-whatsapp mt-5" target="_blank">
            <i class="bi bi-whatsapp icona-whatsapp"></i> Scrivici
        </a>        
      </div>
      <div class="immagine-contatto">
          <img src="../../../assets/accademy/contact_theme_transparent.png" alt="Operatore">
      </div>
  </div>
</section>
