<app-guideBannerTop></app-guideBannerTop>

<div class="accademy-banner mt-5">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="text-content">
          <h1>Trova il tuo cammino, <span class="highlight">noi siamo al tuo fianco.</span></h1>
          <p>
            <strong>Ogni viaggio inizia con una scelta:</strong> scopri il corso perfetto per te,
            <strong>modellato sulle tue ambizioni,</strong>, sul tuo livello di partenza e sul tempo che puoi dedicare
            alla tua crescita.
            <strong>Siamo qui per guidarti passo dopo passo verso il tuo obiettivo.</strong>
          </p>
        </div>
      </div>
      <div class="col-4">
        <div class="image-content">
          <img src="../../../../assets/accademy/bussola.png" alt="BussolaoneBlade">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="course-section mt-3">
        <div *ngFor="let category of categories" class="category">
          <h3 class="category-title">{{ category.title }}</h3>
          <div class="course-list">
            <div *ngFor="let course of category.courses" class="course-card">
              <div [routerLink]="['/AccademyDetails', course.idCourse]">
                <span class="ribbon">Dettagli</span>
                <h3>{{ course.title }}</h3>
                <p><strong>Codice corso:</strong><i> {{ course.idCourse }}</i></p>
                <p><strong>Durata:</strong> {{ course.duration }}</p>
                <p><strong>Modalità:</strong> {{ course.mode }}</p>
                <p><strong>Lezioni:</strong> {{ course.lessons }}</p>
                <p><strong>Tempo:</strong> {{ course.time }}</p>
                <p><strong>Informazioni:</strong> {{ course.description }}</p>
                <p class="course-level"><strong>Livello:</strong> {{ course.level}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-infooneBlade></app-infooneBlade>
<app-guideList></app-guideList>