<div class="home-container">
    <app-image-carousel></app-image-carousel>
    <app-company-description></app-company-description>
    <app-company-logos></app-company-logos>

    <app-parallax>
        <h1>Benvenuto nel nostro sito!</h1>
        <p>Esplora il mondo con il nostro effetto parallax.</p>
    </app-parallax>
    <!-- Immagine a sinistra e testo a destra -->
    <app-circular-image-text [imagePosition]="'right'" [imageUrl]="'../../assets/CallToAction/generic-1.jpg'"
        [headline]="'Your Title'" [description]="'Your description goes here.'" [buttonLink]="'/your-link'"
        [buttonText]="'Your Call to Action'">
    </app-circular-image-text>

    <!-- Image on the right and text on the left -->
    <app-circular-image-text [imagePosition]="'left'" [imageUrl]="'../../assets/CallToAction/generic-1.jpg'"
        [headline]="'Your Title'" [description]="'Your description goes here.'" [buttonLink]="'/your-link'"
        [buttonText]="'Your Call to Action'">
    </app-circular-image-text>
    <div class="container">
        <div class="row">
            <!-- Colonna per la sezione Recruitment -->
            <div class="col-12 col-md-6">
                <app-recruitment></app-recruitment>
            </div>
            <!-- Colonna per la sezione Your Team -->
            <div class="col-12 col-md-6">
                <app-your-team></app-your-team>
            </div>
        </div>
    </div>
    <app-contact-form></app-contact-form>
</div>