/* home.component.scss */
.mySwiper {
    padding: 0 50px; // Padding per evitare la sovrapposizione delle frecce
  }
  
  .logo {
    height: 50px; // Altezza dei loghi
  }

/* styles.css */
.chat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
}

.chat-icon i {
  font-size: 2rem;
  color: #25D366;
}

.chat-bubble {
  position: fixed;
  bottom: 80px; /* Spaziatura sopra l'icona della chat */
  right: 20px;
  width: 300px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 1000;
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #25D366;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.operator-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.operator-name {
  flex: 1;
}

.close-chat {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.chat-body {
  padding: 10px;
}