<div class="home-container">
    <app-image-carousel></app-image-carousel>

    <app-company-description></app-company-description>


    <app-parallax>
        <h1>Benvenuto nel nostro sito!</h1>
        <p>Esplora il mondo con il nostro effetto parallax.</p>
    </app-parallax>

    <div class="container">
        <div class="row">
            <!-- Colonna per la sezione Recruitment -->
            <div class="col-12 col-md-6">
                <app-recruitment></app-recruitment>
            </div>
            <!-- Colonna per la sezione Your Team -->
            <div class="col-12 col-md-6">
                <app-contact-aziende></app-contact-aziende>
            </div>
        </div>
    </div>
  
</div>