<div class="container mt-4">
  <div class="row">
    <div class="col">
      <app-oneBladeVideo videoPath="../../assets/Video/Presentazione_oneBlade.mp4"></app-oneBladeVideo>
    </div>
  </div>

  <div class="row justify-content-center">
    <!-- Ensure each box occupies the entire row -->
    <div class="col-12 mt-3 mb-3">
      <div class="box CustomSoftware" routerLink="/customSoftware">
      </div>
    </div>
    <div class="col-12 mt-3 mb-3">
      <div class="box Talent" routerLink="/whyoneBlade">
        <h2>{{ 'COMPANY_ABOUT_US.WHY_CHOOSE_TITLE' | translate }}</h2>
        <p>{{ 'COMPANY_ABOUT_US.WHY_CHOOSE_DESCRIPTION' | translate }}</p>
      </div>
    </div>
  </div>
</div>