<div class="container">
  <div class="description-box">
    <h5 class="box-title">{{ 'FORM.TITLE' | translate }}</h5>
    <h6 class="mb-4">{{ 'FORM.SUBTITLE' | translate }}</h6>
    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" novalidate class="contact-form">
      <div class="mb-3 form-group">
        <input type="text" id="name" name="name" class="form-control" [(ngModel)]="model.name" #name="ngModel" required
          placeholder="{{ 'FORM.PLACEHOLDERS.NAME' | translate }}" />
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
          <div *ngIf="name.errors?.['required']">{{ 'FORM.VALIDATION.NAME_REQUIRED' | translate }}</div>
        </div>
      </div>

      <div class="mb-3 form-group">
        <input type="text" id="telephone" name="telephone" class="form-control" [(ngModel)]="model.telephone"
          #telephone="ngModel" required placeholder="{{ 'FORM.PLACEHOLDERS.TELEPHONE' | translate }}" />
        <div *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)" class="text-danger">
          <div *ngIf="telephone.errors?.['required']">{{ 'FORM.VALIDATION.TELEPHONE_REQUIRED' | translate }}</div>
        </div>
      </div>

      <div class="mb-3 form-group">
        <input type="email" id="email" name="email" class="form-control" [(ngModel)]="model.email" #email="ngModel"
          required email placeholder="{{ 'FORM.PLACEHOLDERS.EMAIL' | translate }}" />
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
          <div *ngIf="email.errors?.['required']">{{ 'FORM.VALIDATION.EMAIL_REQUIRED' | translate }}</div>
          <div *ngIf="email.errors?.['email']">{{ 'FORM.VALIDATION.EMAIL_INVALID' | translate }}</div>
        </div>
      </div>

      <div class="mb-3 form-group">
        <input type="text" id="vat" name="vat" class="form-control" [(ngModel)]="model.vat" #vat="ngModel" required
          pattern="^[0-9]{11}$" placeholder="{{ 'FORM.PLACEHOLDERS.VAT' | translate }}" />
        <div *ngIf="vat.invalid && (vat.dirty || vat.touched)" class="text-danger">
          <div *ngIf="vat.errors?.['required']">{{ 'FORM.VALIDATION.VAT_REQUIRED' | translate }}</div>
          <div *ngIf="vat.errors?.['pattern']">{{ 'FORM.VALIDATION.VAT_INVALID' | translate }}</div>
        </div>
      </div>

      <div class="mb-3 form-group">
        <select id="applicationType" name="applicationType" class="form-select" [(ngModel)]="model.applicationType"
          #applicationType="ngModel" required>
          <option value="">{{ 'FORM.PLACEHOLDERS.APPLICATION_TYPE' | translate }}</option>
          <option value="Software_Development">Developer</option>
          <option value="System_Administrator">System Administrator</option>
          <option value="DevOps">DevOps</option>
          <option value="Functional_Analyst">Functional Analyst</option>
          <option value="Data_Engineer">Data Engineer</option>
          <option value="Data_Scientist">Data Scientist</option>
          <option value="QA_Tester">QA Tester</option>
          <option value="Design_UIUX">Design UI/UX</option>
        </select>
        <div *ngIf="applicationType.invalid && (applicationType.dirty || applicationType.touched)" class="text-danger">
          <div *ngIf="applicationType.errors?.['required']">{{ 'FORM.VALIDATION.ROLE_REQUIRED' | translate }}</div>
        </div>
      </div>

      <div class="mb-3 form-group">
        <input type="file" id="file" name="file" class="form-control file-input" (change)="onFileChange($event)"
          required />
        <div *ngIf="fileError" class="text-danger">
          {{ fileError }}
        </div>
        <div *ngIf="!model.file && (contactForm.submitted || fileError)" class="text-danger">
          {{ 'FORM.VALIDATION.FILE_REQUIRED' | translate }}
        </div>
      </div>

      <div class="button-row">
        <button type="button" class="btn btn-primary open-questionnaire-btn" [disabled]="contactForm.invalid || !model.file" (click)="openQuestionnaireModal()">
          {{ 'FORM.QUESTIONARIE.TITLE' | translate }}</button>
        <button type="submit" class="btn btn-primary submit-btn" [disabled]="contactForm.invalid || !model.file">{{
          'FORM.BUTTON_SUBMIT' | translate }}</button>
      </div>
    </form>
  </div>
</div>

<!-- Modale personalizzata di Errore/Successo -->
<div class="custom-modal" *ngIf="isModalVisible">
  <div class="custom-modal-content">
    <span class="custom-modal-close" (click)="closeModal()">&times;</span>
    <h5>{{ modalTitle }}</h5>
    <p>{{ modalMessage }}</p>
    <button class="btn btn-primary custom-btn" (click)="closeModal()">{{ 'FORM.MODAL.CLOSE' | translate }}</button>
  </div>
</div>

<!-- Modale del Questionario -->
<div class="custom-modal" *ngIf="isQuestionnaireModalVisible">
  <div class="custom-modal-content">
    <span class="custom-modal-close" (click)="closeQuestionnaireModal()">&times;</span>
    <!-- Inserisci qui il componente del questionario -->
    <app-questionnaire [role]="model.applicationType"></app-questionnaire>
  </div>
</div>